<div id="root">
  <div nz-row class="ant-row _1gp6t">
    <div nz-col nzSpan="4" class="ant-col-4 _2v5v5">
      <div class="_3zibT"><a [routerLink]="[ '/discovery' ]">回首页</a></div>
      <div class="_1iZMb">
        <div class="_33Zlg">
          <i class="fa fa-plus"></i><span>新建文集</span>
        </div>
        <div class="_2G97m">
          <form class="M8J6Q _1mU5v">
            <input
              type="text"
              placeholder="请输入文集名..."
              name="name"
              class="_1CtV4"
            /><button type="submit" class="dwU8Q _3zXcJ _3QfkW">
              <span>提 交</span></button
            ><button type="button" class="vIzwB _3zXcJ">
              <span>取 消</span>
            </button>
          </form>
        </div>
      </div>
      <ul class="_3MbJ4 _3t059">
        <li class="_3DM7w _31PCv" title="日记本">
          <div class="_3P4JX _2VLy-">
            <!-- <i class="fa fa-gear"></i
            >
            <span
              ><ul class="_2V8zt _3FcHm _2w9pn">
                <li class="_2po2r cRfUr" title="">
                  <span class=""
                    ><i class="fa fa-pencil-square-o _22XWG"></i>修改文集</span
                  >
                </li>
                <li class="_2po2r cRfUr" title="">
                  <span class=""
                    ><i class="fa fa-trash-o _22XWG"></i>删除文集</span
                  >
                </li>
              </ul></span
            > -->
            <i nz-popover
            nzPopoverTrigger="click"
            [nzPopoverContent]="contentTemplate"
            nzPopoverPlacement="bottomRight" class="fa fa-gear"></i
              >
              <ng-template #contentTemplate>
                  
                    <div>Content</div>
                    <div>Content</div>
                  
                </ng-template>
          </div>
          <span>日记本</span>
        </li>
        <li class="_3DM7w" title="随笔"><span>随笔</span></li>
      </ul>
      <div nz-col nzSpan="4" class="ant-col-4 h-5Am">
        <span nz-dropdown  nzTrigger="click" [nzDropdownMenu]="menu" class="ant-dropdown-trigger">
          <i class="fa fa-bars"></i><span>设置</span>
          </span>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item length</li>
            <li nz-menu-item>2nd menu item length</li>
            <li nz-menu-item>3rd menu item length</li>
          </ul>
        </nz-dropdown-menu>
        <span class="Yv5Zx"
          >遇到问题<i class="fa fa-question-circle-o"></i
        ></span>
      </div>
    </div>
    <div nz-col nzSpan="20" class="ant-col-20" style="height: 100%;">
      <div nz-col nzSpan="8" class="ant-col-8 rQQG7">
        <div class="_3revO _2mnPN">
          <div class="_3br9T">
            <div>
              <div class="_1GsW5">
                <i class="fa fa-plus-circle"></i><span> 新建文章</span>
              </div>
              <ul class="_2TxA-">
                <li class="_25Ilv _33nt7" title="2019-09-10">
                  <i class="_13kgp"></i>
                  <div class="_3P4JX poOXI">
                    <i class="fa fa-gear"></i
                    ><span
                      ><ul class="_2V8zt _3FcHm _2w9pn">
                        <li class="_2po2r cRfUr" title="">
                          <span class=""
                            ><i class="fa fa-share _22XWG"></i>直接发布</span
                          >
                        </li>
                        <li class="_2po2r cRfUr" title="">
                          <span class="_20tIi"
                            ><i class="iconfont ic-paid _22XWG"></i
                            >发布为付费文章</span
                          >
                        </li>
                        <li class="_3nZXj _2_WAp _3df2u _2po2r cRfUr" title="">
                          <span class=""
                            ><i class="fa fa-folder-open _22XWG"></i>移动文章
                            <div class="_3x4X_">
                              <ul class="_2KzJx oGKRI _3DXDE _2w9pn">
                                <li class="_2po2r cRfUr" title="随笔">
                                  <span class="">随笔</span>
                                </li>
                              </ul>
                            </div></span
                          >
                        </li>
                        <li class="_2po2r cRfUr" title="">
                          <span class=""
                            ><i class="fa fa-clock-o _22XWG"></i>历史版本</span
                          >
                        </li>
                        <li class="_2po2r cRfUr" title="">
                          <span class=""
                            ><i class="fa fa-trash-o _22XWG"></i>删除文章</span
                          >
                        </li>
                        <li class="_2po2r cRfUr" title="">
                          <span class=""
                            ><i class="fa fa-ban _22XWG"></i>设置禁止转载</span
                          >
                        </li>
                      </ul></span
                    >
                  </div>
                  <span class="NariC">2019-09-10</span
                  ><span class="hLzJv"> 图片发自简书App 图片发自简书App</span
                  ><span class="_29C-V">字数:14</span>
                </li>
                <li class="_25Ilv" title="😆">
                  <i class="_13kgp"></i><span class="NariC">😆</span>
                </li>
              </ul>
              <div class="_2cVn3">
                <i class="fa fa-plus"></i><span> 在下方新建文章</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="16" class="ant-col-16 _1Yy97">
        <div class="_2mnPN">
          <div class="_3br9T">
            <div class="_3DuaW" tabindex="-1" autofocus="">
              <p class="_3-3KB">已保存</p>
              <div class="_1WI52" tabindex="-1">
                <input type="text" class="_24i7u" value="2019-09-10" />
                <div
                  id="md"
                  appEditorMd
                  [editormdConfig]="conf"
                  (onEditorChange)="syncModel($event)"
                >
                  <textarea
                    style="display: block;"
                    [(ngModel)]="markdown"
                  ></textarea>
                </div>
                <!-- <hr>
<h2>Markdown内容:</h2>
<span>{{markdown}}</span> -->
                <!-- <ul class="_3LYoB clearfix">
                  <li class="tGbI7 cztJE">
                    <a data-action="publicize"
                      ><i class="fa fa-mail-forward"></i> 发布文章</a
                    >
                  </li>
                  <li class="_2zLpt" data-index="0">
                    <a class="fa fa-bold _3-PBb"></a>
                    <ul class="">
                      <li><a class="fa fa-bold" data-action="bold"></a></li>
                      <li><a class="fa fa-italic" data-action="italic"></a></li>
                      <li>
                        <a
                          class="fa fa-strikethrough"
                          data-action="strikethrough"
                        ></a>
                      </li>
                      <li>
                        <a
                          class="fa fa-quote-left"
                          data-action="insertBlockquote"
                        ></a>
                      </li>
                    </ul>
                  </li>
                  <li class="_2zLpt" data-index="1">
                    <a class="fa fa-picture-o" data-action="openImageModal"></a>
                  </li>
                  <li class="_2zLpt" data-index="2">
                    <a class="fa fa-undefined _3-PBb">H1</a>
                    <ul class="">
                      <li>
                        <a
                          class="fa fa-undefined"
                          data-action="insertTitle"
                          data-level="1"
                          >H1</a
                        >
                      </li>
                      <li>
                        <a
                          class="fa fa-undefined"
                          data-action="insertTitle"
                          data-level="2"
                          >H2</a
                        >
                      </li>
                      <li>
                        <a
                          class="fa fa-undefined"
                          data-action="insertTitle"
                          data-level="3"
                          >H3</a
                        >
                      </li>
                      <li>
                        <a
                          class="fa fa-undefined"
                          data-action="insertTitle"
                          data-level="4"
                          >H4</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="_2zLpt" data-index="3">
                    <a class="fa fa-undefined _3-PBb">—</a>
                    <ul class="">
                      <li>
                        <a class="fa fa-undefined" data-action="insertHRule"
                          >—</a
                        >
                      </li>
                      <li>
                        <a class="fa fa-link" data-action="openLinkModal"></a>
                      </li>
                      <li>
                        <a
                          class="fa fa-youtube-play"
                          data-action="openVideoModal"
                        ></a>
                      </li>
                    </ul>
                  </li>
                  <li class="_2zLpt" data-index="4">
                    <a
                      class="fa fa-undefined _20p0q"
                      data-action="openFormulaModal"
                      >Σ</a
                    >
                  </li>
                  <li class="_2zLpt" data-index="5">
                    <a class="fa fa-undo jLrZL"></a>
                    <ul class="_3-PBb">
                      <li><a class="fa fa-undo" data-action="undo"></a></li>
                      <li><a class="fa fa-repeat" data-action="redo"></a></li>
                    </ul>
                  </li>
                  <li class="_2zLpt" data-index="6">
                    <a class="fa fa-clock-o" data-action="to-history"></a>
                  </li>
                  <li class="_2zLpt" data-index="7">
                    <a class="fa fa-volume-up" data-action="openAudioModal"></a>
                  </li>
                  <li class="_2zLpt _3-PBb" data-index="8">
                    <a
                      class="fa fa-volume-off eeRmU"
                      data-action="openAudioModal"
                    ></a>
                  </li>
                  <li class="_2zLpt tGbI7" data-index="9">
                    <a class="fa fa-expand" data-action="to-fullscreen"></a>
                  </li>
                  <li class="_2zLpt tGbI7" data-index="10">
                    <a class="fa fa-floppy-o" data-action="auto-save"></a>
                  </li>
                </ul>
                <div class="_15389">
                  <div class="_2HkLJ" id="editor">
                    <div contenteditable="true" class="kalamu-area">
                      <div class="image-package">
                        <img
                          name="-1677565463-1568105768535"
                          src="https://upload-images.jianshu.io/upload_images/19245301-aabcb273d147c662.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50"
                        /><br />
                        <div class="image-caption">图片发自简书App</div>
                      </div>
                      <p><br /></p>
                      <div class="image-package">
                        <img
                          name="-1649859833-1568105768918"
                          src="https://upload-images.jianshu.io/upload_images/19245301-df483dd69888d9ce.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50"
                        /><br />
                        <div class="image-caption">图片发自简书App</div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
