#root {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  ._1gp6t {
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    zoom: 1;
    display: block;
    box-sizing: border-box;
    .ant-col-4 {
      &._2v5v5 {
        position: relative;
        height: 100%;
        overflow-y: auto;
        background-color: #404040;
        color: #f2f2f2;
        z-index: 100;
        ._3zibT {
          padding: 30px 18px 5px;
          text-align: center;
          a {
            display: block;
            font-size: 15px;
            padding: 9px 0;
            color: #ec7259;
            border: 1px solid rgba(236, 114, 89, 0.8);
            border-radius: 20px;
            -webkit-transition: border-color 0.2s ease-in;
            -o-transition: border-color 0.2s ease-in;
            transition: border-color 0.2s ease-in;
            &:hover {
              will-change: border-color;
              color: #ec7259;
              border-color: #ec7259;
            }
          }
        }
        ._1iZMb {
          padding: 0 15px;
          margin-top: 20px;
          margin-bottom: 10px;
          ._33Zlg {
            cursor: pointer;
            color: #f2f2f2;
            -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            span {
              margin-left: 4px;
            }
          }
          ._2G97m {
            overflow: hidden;
            .M8J6Q {
              overflow: hidden;
              margin: 10px 0 0;
            }
            ._1mU5v {
              height: 85px;
              opacity: 1;
              margin-top: 10px;

              // height: 0;
              // opacity: 0;
              // margin-top: 0;
              transition: all 0.2s ease-out;
              ._1CtV4 {
                width: 100%;
                height: 35px;
                color: #ccc;
                background-color: #595959;
                border: 1px solid #333;
                padding: 4px 6px;
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 20px;
              }
              .dwU8Q {
                margin-left: 4px;
                background-color: #404040;
                color: #42c02e;
                border-color: #42c02e;
                &:focus {
                  background-color: #40453f;
                }
                &:hover {
                  background-color: #40453f;
                  color: #42c02e;
                  border-color: #42c02e;
                }
              }
              .vIzwB {
                color: #999;
                background-color: #404040;
                border-color: transparent;
                -webkit-appearance: button;
                &:hover {
                  background-color: #404040;
                  border-color: transparent;
                  color: #b3b3b3;
                }
              }
            }
          }
        }
        ul {
          padding-left: 0;
          margin-top: 0;
        }
        ._3MbJ4 {
          margin-bottom: 50px;
          ._31PCv {
            background-color: #666;
            border-left: 3px solid #ec7259;
            padding-left: 12px !important;
          }
          ._3DM7w {
            position: relative;
            line-height: 40px;
            list-style: none;
            font-size: 15px;
            color: #f2f2f2;
            // background-color: #404040;
            padding: 0 15px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover {
              background-color: #666;
            }
            ._2VLy- {
              float: right;
            }
            ._3P4JX {
              font-size: 16px;
              width: 40px;
              text-align: center;
              position: relative;
              min-height: 30px;
              max-height: 50px;
              ._3FcHm {
                top: 100%;
                &:before {
                  border-left: 9px solid transparent;
                  border-right: 9px solid transparent;
                  border-bottom: 9px solid #fff;
                  top: -9px;
                }
              }
              .NvfK4 {
                display: block;
              }
              ._2V8zt {
                display: none;
                position: absolute;
                z-index: 99;
                right: 0;
                &:before {
                  position: absolute;
                  right: 12px;
                  content: '';
                  display: inline-block;
                }
              }
              ._2w9pn {
                font-size: 14px;
                -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                list-style: none;
                background-color: #fff;
                color: #595959;
                border-radius: 6px;
              }
              ul {
                ._2po2r {
                  padding: 10px 20px;
                  line-height: 20px;
                  white-space: nowrap;
                  text-align: left;
                  position: relative;
                  &:first-child {
                    border-radius: 4px 4px 0 0;
                  }
                  span {
                    display: block;
                    margin-right: 20px;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    ._22XWG {
                      margin-right: 5px;
                    }
                  }
                }
                .cRfUr {
                  border-bottom: 1px solid #d9d9d9;
                }
              }
            }
            span {
              display: block;
              margin-right: 20px;
              overflow: hidden;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
        .h-5Am {
          position: fixed;
          bottom: 0;
          height: 50px;
          line-height: 50px;
          font-size: 15px;
          padding-left: 15px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          z-index: 150;
          background-color: #404040;
          .ant-dropdown-trigger {
            display: inline-block;
            color: #999;
            cursor: pointer;
            -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            span {
              margin-left: 4px;
            }
          }
          .Yv5Zx {
            float: right;
            margin-right: 15px;
            color: #999;
            cursor: pointer;
            i {
              margin-left: 5px;
            }
          }
        }
      }
    }
    .ant-col-20 {
      height: 100%;
      .ant-col-8 {
        &.rQQG7 {
          width: 30%;
          height: 100%;
          border-right: 1px solid #d9d9d9;
          ._3revO {
            overflow-y: scroll;
            height: 100%;
          }
          ._2mnPN {
            position: relative;
            ._3br9T {
              position: relative;
              -webkit-transition: opacity 0.3s
                cubic-bezier(0.645, 0.045, 0.355, 1);
              -o-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              opacity: 1;
              ._1GsW5 {
                line-height: 20px;
                font-size: 15px;
                font-weight: 400;
                padding: 20px 0 20px 25px;
                cursor: pointer;
                color: #595959;
                .fa {
                  padding-right: 3px;
                  font-size: 18px;
                  vertical-align: bottom;
                }
              }
              ._2TxA- {
                position: relative;
                margin-bottom: 0;
                background-color: #efe9d9;
                border-top: 1px solid #d9d9d9;
                ._25Ilv {
                  position: relative;
                  height: 90px;
                  color: #595959;
                  background-color: #fff;
                  margin-bottom: 0;
                  padding: 15px 10px 15px 60px;
                  -webkit-box-shadow: 0 0 0 1px #d9d9d9;
                  box-shadow: 0 0 0 1px #d9d9d9;
                  border-left: 5px solid transparent;
                  list-style: none;
                  line-height: 60px;
                  cursor: pointer;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                  &:hover {
                    background-color: #e6e6e6;
                  }
                  ._13kgp {
                    position: absolute;
                    top: 30px;
                    left: 20px;
                    width: 22px;
                    height: 30px;
                    background: url(//cdn2.jianshu.io/writer/static/img/sprite.9d24217.png)
                      no-repeat 0 -25px;
                    background-size: 250px;
                  }
                  .poOXI {
                    float: right;
                  }
                  ._3P4JX {
                    font-size: 16px;
                    width: 40px;
                    text-align: center;
                    position: relative;
                    min-height: 30px;
                    max-height: 50px;
                    ul {
                      &._3FcHm {
                        top: 100%;
                      }
                      &._2V8zt {
                        display: none;
                        position: absolute;
                        z-index: 99;
                        right: 0;
                      }
                      &._2w9pn {
                        font-size: 14px;
                        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                        list-style: none;
                        background-color: #fff;
                        color: #595959;
                        border-radius: 6px;
                      }
                      li {
                        &._2po2r {
                          padding: 10px 20px;
                          line-height: 20px;
                          white-space: nowrap;
                          text-align: left;
                          position: relative;
                          &:first-child {
                            border-radius: 4px 4px 0 0;
                          }
                          ._22XWG {
                            margin-right: 5px;
                          }
                          ._20tIi {
                            opacity: 0.3;
                          }
                          ._3x4X_ {
                            position: absolute;
                            right: 100%;
                            height: 100%;
                            top: 0;
                            ul {
                              max-height: 280px;
                              overflow-y: auto;
                            }
                            ._3DXDE {
                              display: none;
                            }
                            .oGKRI {
                              top: 0;
                            }
                            ._2KzJx {
                              position: absolute;
                              right: 100%;
                            }
                            ._2w9pn {
                              font-size: 14px;
                              -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                              list-style: none;
                              background-color: #fff;
                              color: #595959;
                              border-radius: 6px;
                              li {
                                overflow: hidden;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                max-width: 140px;
                                border-radius: 0 0 4px 4px;
                                border-bottom: 0;
                              }
                            }
                          }
                        }
                        &.cRfUr {
                          border-bottom: 1px solid #d9d9d9;
                        }
                      }
                    }
                  }
                }
                ._33nt7 {
                  border-left-color: #ec7259;
                  background-color: #e6e6e6;
                }
              }
              ._2cVn3 {
                line-height: 30px;
                padding: 20px 0 20px 25px;
                cursor: pointer;
                color: #999;
                margin-bottom: 80px;
              }
            }
          }
        }
      }
      .ant-col-16 {
        height: 100%; //new
        &._1Yy97 {
          height: 100%; //new
          position: relative;
          width: 70%;
          height: 100%;
          ._2mnPN {
            height: 100%; //new
            position: relative;
            ._3br9T {
              height: 100%; //new
              position: relative;
              -webkit-transition: opacity 0.3s
                cubic-bezier(0.645, 0.045, 0.355, 1);
              -o-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              opacity: 1;
              ._3DuaW {
                height: 100%; //new
                position: relative;
                height: 100vh;
                padding-top: 20px;
                p {
                  margin-top: 0;
                  margin-bottom: 1em;
                }
                ._3-3KB {
                  position: absolute;
                  right: 5px;
                  top: 2px;
                }
                ._1WI52 {
                  height: 100%;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  flex-direction: column;
                  //new
                  height: 100%;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  ._24i7u {
                    width: 100%;
                    padding: 0 80px 10px 40px;
                    margin-bottom: 0;
                    border: none;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 30px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    color: #595959;
                    background-color: transparent;
                    outline: none;
                    border-radius: 0;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  touch-action: manipulation;
}
input {
  outline: 0;
  overflow: visible;
  margin: 0;
}
._3zXcJ {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 30px;
  line-height: 20px;
  padding: 4px 12px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #595959;
  background-color: #fff;
  border-color: transparent;
  text-transform: none;
  overflow: visible;
  margin: 0;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 0;
}

#md {
  height: 100%;
}
.editormd {
  margin-bottom: 0px !important;
}

//设置
// .ant-dropdown-menu {
//   outline: none;
//   position: relative;
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
//   text-align: left;
//   background-color: #fff;
//   border-radius: 4px;
//   -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
//   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
//   background-clip: padding-box;
//   border-radius: 6px;
//   background-color: #fff;
//   .ant-dropdown-menu-submenu-vertical {
//     position: relative;
//     border-radius: 6px;
//     z-index: 150;
//     .ant-dropdown-menu-submenu-title {
//       border-radius: 6px 6px 0 0;
//       padding-top: 9px;
//       padding-bottom: 9px;
//       color: #595959;
//     }
//     .ant-dropdown-menu-submenu-arrow {
//       position: absolute;
//       right: 8px;
//     }
//   }
// }

//文集菜单

._3FcHm {
  // top: 100%;
  // display: block;
  // position: absolute;
  // z-index: 99;
  // right: 0;
  font-size: 14px;
  // -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  list-style: none;
  // background-color: #fff;
  // color: #595959;
  // border-radius: 6px;
  // margin-bottom: 0;
  // padding-left: 0;
  // margin-top: 0;
  li {
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    // border-bottom: 1px solid #d9d9d9;
    // padding: 10px 20px;
    padding: 5px 10px;
    line-height: 20px;
    white-space: nowrap;
    text-align: left;
    position: relative;
    &:hover {
      background-color: #b3b3b3;
      cursor: pointer;
    }
    span {
      display: block;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      ._22XWG {
        margin-right: 5px;
      }
    }
  }
}
