<app-header [active]="active"></app-header>

<app-left-right-layout-follow>
  <div class="body-aside-wrap">
    <ul>
      <li class="router-link-exact-active active">
        <a href="javascript:;"
          ><i class="iconfont iconpinglun1"></i> <span>评论</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><i class="iconfont iconjianxin"></i> <span>简信</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><i class="iconfont icontougaoqingqiu"></i> <span>投稿请求</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><i class="iconfont iconxihuan"></i> <span>喜欢和赞</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><i class="iconfont iconguanzhu1"></i> <span>关注</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><i class="iconfont iconzanshang"></i> <span>赞赏和付费</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><i class="iconfont iconqita"></i> <span>其它提醒</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="body-main-wrap">
    <div class="content">
      <div class="menu">收到的评论</div>
      <ul class="comment-list">
        <div class="notification-list-placeholder comment">
          <div class="avatar"></div>
          <div class="wrap">
            <div class="name"></div>
            <div class="text"></div>
          </div>
          <p></p>
          <p class="animation-delay"></p>
          <div class="meta">
            <i class="iconfont ic-list-comments"></i>
            <div class="text"></div>
            <i class="iconfont ic-go"></i>
            <div class="text longer"></div>
          </div>
        </div>
      </ul>
      <div class="find-nothing">
        <img
          src="//cdn2.jianshu.io/assets/web/icon_nocontent-00c423de394b9184d467f2f2a7284b54.png"
        />
        <div>这里还木有内容哦~</div>
      </div>
      <div></div>
      <!-- 简信 -->
      <ul class="jianxin-list">
        <li>
          <div class="pull-right">
            <span class="time">08.16 19:16</span>
            <div>
              <a data-toggle="dropdown" href="javascript:;"
                ><i class="iconfont ic-show iconbottom"></i
              ></a>
              <ul class="dropdown-menu">
                <li>
                  <a><i class="iconfont ic-delete"></i>删除会话</a>
                </li>
                <li>
                  <a><i class="iconfont ic-block"></i>加入黑名单</a>
                </li>
                <li>
                  <a class="report"
                    ><span><i class="iconfont ic-report"></i>举报用户</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <a href="javascript:;" target="_blank" class="avatar"
            ><img
              src="//upload.jianshu.io/users/upload_avatars/3678149/b8a58e70-1126-48c9-97e2-8f21a31dfa94.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"
            />
          </a>
          <a href="javascript:;" target="_blank" class="name">简宝玉</a>
          <a href="javascript:;" class="wrap"
            ><p>
              欢迎加入丰富多彩的原创内容社区—简书。新手有关简书的任何疑问请点击链接查看
              http://ww...
            </p></a
          >
        </li>
        <div class="jianxin-placeholder">
          <div class="avatar"></div>
          <div class="wrap">
            <div class="time"></div>
            <div class="name"></div>
            <div class="text"></div>
          </div>
        </div>
      </ul>

      <!-- 投稿请求 -->
      <ul class="push-list">
        <li>
          <a href="javascript:;" class="wrap"
            ><div class="all-push"><i class="iconfont ic-requests"></i></div>
            <div class="name">全部未处理请求</div></a
          >
        </li>
        <div class="jianxin-placeholder request">
          <div class="avatar"></div>
          <div class="wrap">
            <div class="time"></div>
            <div class="name"></div>
            <div class="text"></div>
          </div>
        </div>
      </ul>

      <!-- 喜欢和赞 -->
      <ul class="like-list">
        <div class="notification-list-placeholder">
          <div class="avatar"></div>
          <div class="wrap">
            <div class="name"></div>
            <div class="text"></div>
          </div>
          <p></p>
          <p class="animation-delay"></p>
          <div class="meta">
            <i class="iconfont ic-list-comments"></i>
            <div class="text"></div>
            <i class="iconfont ic-go"></i>
            <div class="text longer"></div>
          </div>
        </div>
      </ul>

      <!-- 关注 -->
      <ul class="follow-list">
        <div class="notification-list-placeholder">
          <div class="avatar"></div>
          <div class="wrap">
            <div class="btn"></div>
            <div class="name"></div>
            <div class="text"></div>
          </div>
          <p></p>
          <p class="animation-delay"></p>
          <div class="meta">
            <i class="iconfont ic-list-comments"></i>
            <div class="text"></div>
            <i class="iconfont ic-go"></i>
            <div class="text longer"></div>
          </div>
        </div>
      </ul>

      <!-- 赞赏和付费 -->
      <ul class="pay-list">
        <div class="notification-list-placeholder">
          <div class="avatar"></div>
          <div class="wrap">
            <div class="name"></div>
            <div class="text"></div>
          </div>
          <p></p>
          <p class="animation-delay"></p>
          <div class="meta">
            <i class="iconfont ic-list-comments"></i>
            <div class="text"></div>
            <i class="iconfont ic-go"></i>
            <div class="text longer"></div>
          </div>
        </div>
      </ul>

      <!-- 其它提醒 -->
      <ul class="other-list">
        <div class="notification-list-placeholder other">
          <div class="avatar"></div>
          <div class="wrap">
            <div class="name"></div>
            <div class="text"></div>
          </div>
          <p></p>
          <p class="animation-delay"></p>
          <div class="meta">
            <i class="iconfont ic-list-comments"></i>
            <div class="text"></div>
            <i class="iconfont ic-go"></i>
            <div class="text longer"></div>
          </div>
        </div>
      </ul>

      <!-- 对话 -->
      <div class="chat">
        <div class="chat-top">
          <a href="javascript:;" class="back-to-list active"
            ><i class="iconfont ic-back"></i> 返回简信列表
          </a>
          <b>
            与
            <a href="javascript:;" target="_blank">简宝玉</a>
            的对话
          </b>
          <div>
            <a data-toggle="dropdown" href="javascript:;"
              ><i class="iconfont ic-show"></i
            ></a>
            <ul class="dropdown-menu">
              <li>
                <a><i class="iconfont ic-block"></i>加入黑名单</a>
              </li>
              <li>
                <a class="report"
                  ><span><i class="iconfont ic-report"></i>举报用户</span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="message-show">
          <ul class="message-list">
            <li class="message-l">
              <a href="javascript:;" class="avatar"
                ><img
                  src="//upload.jianshu.io/users/upload_avatars/3678149/b8a58e70-1126-48c9-97e2-8f21a31dfa94.png?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120/format/webp"
              /></a>
              <div>
                <span class="content"
                  >欢迎加入丰富多彩的原创内容社区—简书。新手有关简书的任何疑问请点击链接查看
                  <a
                    href="javascript:;"
                    rel="nofollow"
                    target="_blank"
                    >http://www.jianshu.com/p/27de765cdb28</a
                  >
                  ，同时关注微信公众号简宝玉（jianshu4321)，后台回复“指南”可获取新手玩转简书社区指南详细资料礼包；简宝玉同志会专程为你答疑解惑关于简书的一切。</span
                >
              </div>
              <span class="time">08.16 19:16</span>
            </li>
            <li class="message-r">
              <a href="javascript:;" class="avatar"
                ><img
                  src="//upload.jianshu.io/users/upload_avatars/19245301/25d33e39-ff2c-4859-8df9-10059f07bd22?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120/format/webp"
              /></a>
              <div><span class="content">你好啊</span></div>
              <span class="time">14:32</span>
            </li>
          </ul>
        </div>
        <div class="write-message">
          <form>
            <textarea
              type="text"
              placeholder="输入内容"
              class="form-control"
            ></textarea>
            <input type="submit" class="btn btn-send" value="发送" />
          </form>
          <div class="hint">Enter 直接发送</div>
        </div>
      </div>
    </div>
  </div>
</app-left-right-layout-follow>
