<i
  nzPopoverPlacement="bottom"
  nz-popover
  nzPopoverTitle=""
  [nzPopoverContent]="contentTemplate"
  nzPopoverTrigger="click"
  aria-label="icon: smile"
  tabindex="-1"
  class="anticon anticon-smile _3MkVdm"
  ><svg
    viewBox="64 64 896 896"
    focusable="false"
    class=""
    data-icon="smile"
    width="1em"
    height="1em"
    fill="currentColor"
    aria-hidden="true"
  >
    <path
      d="M288 421a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm352 0a48 48 0 1 0 96 0 48 48 0 1 0-96 0zM512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm263 711c-34.2 34.2-74 61-118.3 79.8C611 874.2 562.3 884 512 884c-50.3 0-99-9.8-144.8-29.2A370.4 370.4 0 0 1 248.9 775c-34.2-34.2-61-74-79.8-118.3C149.8 611 140 562.3 140 512s9.8-99 29.2-144.8A370.4 370.4 0 0 1 249 248.9c34.2-34.2 74-61 118.3-79.8C413 149.8 461.7 140 512 140c50.3 0 99 9.8 144.8 29.2A370.4 370.4 0 0 1 775.1 249c34.2 34.2 61 74 79.8 118.3C874.2 413 884 461.7 884 512s-9.8 99-29.2 144.8A368.89 368.89 0 0 1 775 775zM664 533h-48.1c-4.2 0-7.8 3.2-8.1 7.4C604 589.9 562.5 629 512 629s-92.1-39.1-95.8-88.6c-.3-4.2-3.9-7.4-8.1-7.4H360a8 8 0 0 0-8 8.4c4.4 84.3 74.5 151.6 160 151.6s155.6-67.3 160-151.6a8 8 0 0 0-8-8.4z"
    ></path></svg
></i>
<ng-template #contentTemplate>
  <div class="_1bCFo7">
    <div class="_3PUMf1">
      <div class="_2W7JCU _1je2YA" role="button" tabindex="0"></div>
      <div class="_2W7JCU" role="button" tabindex="0"></div>
      <div class="_2W7JCU" role="button" tabindex="0"></div>
      <div class="_2W7JCU" role="button" tabindex="0"></div>
    </div>
    <div class="_3F7sjs">
      <span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:smile"
        >😄</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:blush"
        >😊</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:smiley"
        >😃</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:relaxed"
        >☺</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:wink"
        >😉</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:heart_eyes"
        >😍</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:kissing_heart"
        >😘</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:kissing_closed_eyes"
        >😚</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:flushed"
        >😳</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:grin"
        >😁</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:relieved"
        >😌</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:stuck_out_tongue_winking_eye"
        >😜</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:stuck_out_tongue_closed_eyes"
        >😝</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:unamused"
        >😒</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:smirk"
        >😏</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:sweat"
        >😓</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:pensive"
        >😔</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:confounded"
        >😖</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:disappointed_relieved"
        >😥</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:cold_sweat"
        >😰</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:fearful"
        >😨</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:persevere"
        >😣</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:cry"
        >😢</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:sob"
        >😭</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:joy"
        >😂</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:scream"
        >😱</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:angry"
        >😠</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:sleepy"
        >😪</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:mask"
        >😷</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:innocent"
        >😇</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:yum"
        >😋</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:anguished"
        >😧</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:frowning"
        >😦</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:hushed"
        >😯</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:dizzy_face"
        >😵</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:stuck_out_tongue"
        >😛</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:no_mouth"
        >😶</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:sunglasses"
        >😎</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:sweat_smile"
        >😅</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:worried"
        >😟</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:+1"
        >👍</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:-1"
        >👎</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:clap"
        >👏</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:v"
        >✌</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:pray"
        >🙏</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:fist"
        >✊</span
      ><span class="_3kPlPc" role="button" tabindex="0" aria-label="emoji:heart"
        >❤</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:broken_heart"
        >💔</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:heartbeat"
        >💓</span
      ><span
        class="_3kPlPc"
        role="button"
        tabindex="0"
        aria-label="emoji:sparkling_heart"
        >💖</span
      >
    </div>
  </div>
</ng-template>
