.body-left-wrap {
  .category-title {
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 20px;
    line-height: 1;
    border-left: 4px solid #ea6f5a;
  }
  .questions {
    margin-bottom: 30px;
    padding: 10px 28px;
    border-radius: 6px;
    border: 1px solid #d5d5d5;
    .question-title {
      display: block;
      padding: 12px 0;
      font-size: 15px;
      color: #3194d0;
      border-bottom: 1px solid #d5d5d5;
      &:last-child {
        border-bottom: none;
      }
    }
    .more {
      text-align: center;
      color: #999;
    }
  }
}
.body-right-wrap {
  .go-to-feedback {
    img {
      width: 60px;
      vertical-align: middle;
    }
    .text {
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
      font-size: 14px;
    }
    a {
      display: block;
      margin-top: 3px;
      color: #3194d0;
      i {
        margin-left: -5px;
      }
    }
  }
  .hint-text {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    a {
      margin-top: 3px;
      color: #3194d0;
      i {
        margin-left: -5px;
      }
    }
  }
}
