<app-header></app-header>
<app-left-right-layout>
  <div class="body-left-wrap">
    <div class="category-title">热门问题</div>
    <div class="questions">
      <a href="/p/#" target="_blank" class="question-title">
        为什么我的文章页面无法访问 </a
      ><a href="/p/#" target="_blank" class="question-title">
        为什么文章会被锁定？ </a
      ><a href="/p/#" target="_blank" class="question-title">
        遇到贝市场相关问题怎么办？
      </a>
    </div>

    <div>
      <div class="category-title">简书账号问题</div>
      <div class="questions">
        <a href="/p/#" target="_blank" class="question-title">
          为什么文章会被锁定？ </a
        ><a href="/p/#" target="_blank" class="question-title">
          如果你被封号了？ </a
        ><a href="/p/#" target="_blank" class="question-title">
          简书账号绑定解绑相关问题汇总
        </a>
        <a class="question-title more">
          展开全部
          <i class="iconfont ic-show iconbottom"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="body-right-wrap">
    <div class="go-to-feedback">
      <img
        src="https://cdn2.jianshu.io/assets/web/faqs-helps-1235ff8d1b459bc6e8f838db329150a5.png"
        alt="Helps"
      />
      <div class="text">
        没解决你的疑问？
        <a href="/help"> 去反馈 <i class="iconfont ic-link"></i></a>
      </div>
    </div>
    <div class="hint-text">
      帐户冻结、文章锁定问题，请邮件联系 help@jianshu.com
    </div>
    <div class="hint-text">
      程序/功能问题、bug
      反馈，可添加“简书专题社群委员会委员长”微信号：Jianshu_dama，备注“Web公测”，加群第一时间获得帮助。
    </div>
    <div class="hint-text">
      也可以<a href="/contact"> 联系我们 <i class="iconfont ic-link"></i></a>
    </div>
  </div>
</app-left-right-layout>
