.li {
  // position: relative;
  // width: 100%;
  // margin: 0 0 15px;
  // padding: 15px 2px 20px 0;
  // border-bottom: 1px solid #f0f0f0;
  // word-wrap: break-word;
  // line-height: 20px;
  &.have-img {
    // min-height: 140px;
    min-height: 105px; //减去父级li的padding
  }
  a {
    &.wrap-img {
      position: absolute;
      top: 50%;
      margin-top: -60px;
      right: 0;
      // width: 125px;
      width: 150px; //发现页150px/个人页125px,综合150px
      height: 100px;
    }
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid #f0f0f0;
      vertical-align: middle;
    }
  }
  .content {
    padding-right: 160px;
    .title {
      margin: -7px 0 4px;
      display: inherit;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      cursor: pointer;
    }
    .abstract {
      margin: 0 0 8px;
      font-size: 13px;
      line-height: 24px;
      color: #999;
    }
    .meta {
      padding-right: 0 !important;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      span {
        margin-right: 10px;
        color: #b4b4b4;
      }
      .jsd-meta {
        color: #ea6f5a !important;
      }
      a {
        margin-right: 10px;
        color: #b4b4b4;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 1080px) {
  .li {
    &.have-img {
      // min-height: 112px;
      min-height: 77px;
      .wrap-img {
        margin-top: -58px;
        bottom: 40px;
        width: 125px;
        height: 100px;
      }
    }
    .content {
      padding-right: 135px;
    }
  }
}
