<!-- <li id="note-55231333" data-note-id="55231333" class="li have-img"> -->
<section
  id="note-55231333"
  data-note-id="55231333"
  class="li"
  [ngClass]="{ 'have-img': isHaveImg }"
>
  <a class="wrap-img" [routerLink]="['/article']">
    <img
      class="img-blur-done"
      src="https://upload-images.jianshu.io/upload_images/4646413-e3ebeb6b86df617a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120"
      alt="120"
    />
  </a>
  <div class="content ">
    <a class="title" [routerLink]="['/article']"
      >关注你的公众号后，天天和老公吵架</a
    >
    <p class="abstract">
      文｜七梦的悠闲时光（《星光简道》专题签约推荐作者）01
      最近公众号越来越多，关于女性权利意识的文章也大受追捧，类似《女孩子们要找一个把你的小事当...
    </p>
    <div class="meta">
      <span class="jsd-meta"> <i class="iconfont icondiamond"></i> 51.9 </span>
      <a href="javascript:;">
        <i class="iconfont iconread"></i> 4507
      </a>
      <a [routerLink]="['/article']">
        <i class="iconfont iconliuyan"></i> 73
      </a>
      <span><i class="iconfont iconhome_ico_like-"></i> 49</span>
      <span><i class="iconfont iconmoney"></i> 107</span>
      <span class="time" data-shared-at="2019-10-22T16:45:02+08:00"
        >昨天 16:45</span
      >
    </div>
  </div>
</section>
<!-- </li> -->
