.article-footer {
  width: 100%;
  .article-footerContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 -1px 3px rgba(26, 26, 26, 0.1);
    box-shadow: 0 -1px 3px rgba(26, 26, 26, 0.1);
    z-index: 100;
    .article-footerWrap {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      width: 1000px;
      padding-left: 16px;
      padding-right: 16px;
      margin-left: auto;
      margin-right: auto;
      .article-footerTextarea {
        display: flex;
        position: relative;
        textarea {
          display: inline-flex;
          width: 200px;
          height: 37px;
          resize: none;
          margin-right: 16px;
          padding: 8px 18px;
          border-radius: 18px;
          border: none;
          -webkit-transition: all 0.2s cubic-bezier(0.19, 0.4, 0.17, 0.85);
          transition: all 0.2s cubic-bezier(0.19, 0.4, 0.17, 0.85);
          background-color: #f2f2f2;
          overflow: auto;
          color: inherit;
          font-size: inherit;
          font-family: inherit;
          line-height: inherit;
          touch-action: manipulation;
          -webkit-appearance: none;
          outline: none;
          font-size: 14px;
        }
      }
      .article-footerTools {
        display: -webkit-box;

        display: flex;
        -webkit-box-align: center;

        align-items: center;
        color: #969696;
        user-select: none;
        .article-footerTools-li {
          margin-right: 12px;
          font-size: 14px;
          cursor: pointer;
          display: flex;
          -webkit-box-align: center;

          align-items: center;
          touch-action: manipulation;
          color: #969696;
          user-select: none;
          i {
            font-size: 22px;
          }
          span {
            margin-left: 8px;
            line-height: 20px;
            font-size: 14px;
            cursor: pointer;
            color: #969696;
            user-select: none;
          }
        }
        .article-footerTools-comment {
        }
        .article-footerTools-like {
        }
        .article-footerTools-more {
        }
      }
    }
  }
}

//评论发布按钮
.article-btns {
  ._1OyPqC[disabled] {
    cursor: not-allowed;
  }
  ._3Mi9q9._1YbC5u,
  ._3Mi9q9._1YbC5u[disabled]:hover {
    color: #fff;
    background-color: #ec7259;
    border-color: #ec7259;
  }
  button {
    text-transform: none;
    overflow: visible;
    margin: 0;
  }
  ._1OyPqC[disabled]:before,
  ._31-TB-:before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    background-color: #fff;
    border-radius: inherit;
    opacity: 0.35;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    pointer-events: none;
  }
  ._1OyPqC[disabled] {
    cursor: not-allowed;
  }
  ._1OyPqC+._1OyPqC{
    margin-left: 8px;
  }
}
._1OyPqC {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 14px;
  padding: 4px 12px;
  color: #969696;
  background-color: #fff;
  border: 1px solid #999;
}
.new-textarea {
  width: 560px !important;
  height: 56px !important;
  padding-right: 80px !important;
  border-radius: 4px !important;
  display: inline-flex;
  resize: none;
  margin-right: 16px !important;
  padding: 8px 18px !important;
  border: none;
  -webkit-transition: all 0.2s cubic-bezier(0.19, 0.4, 0.17, 0.85);
  -o-transition: all 0.2s cubic-bezier(0.19, 0.4, 0.17, 0.85);
  transition: all 0.2s cubic-bezier(0.19, 0.4, 0.17, 0.85);
  background-color: #f2f2f2;
  overflow: auto;
}
.card-emoji {
  &.anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &._2qhU6p {
    position: absolute;
    right: 16px;
    bottom: 8px;
    font-size: 20px;
    margin-right: 12px;
    color: #969696;
  }
  &.anticon[tabindex] {
    cursor: pointer;
  }
}
