<footer class="article-footer">
  <div class="article-footerContainer">
    <div class="article-footerWrap">
      <div class="article-footerTextarea">
        <textarea class="" placeholder="写下你的评论..."></textarea>
      </div>
      <div class="article-footerTools">
        <div
          class="article-footerTools-li article-footerTools-comment"
          aria-label="添加评论"
        >
          <i aria-label="ic-reply" class="iconfont iconreply"></i
          ><span>评论174</span>
        </div>
        <div
          class="article-footerTools-li article-footerTools-like"
          aria-label="给文章点赞"
        >
          <i aria-label="ic-like" class="iconfont iconlike"></i
          ><span>赞1159</span>
        </div>
        <div
          class="article-footerTools-li article-footerTools-more"
          aria-label="更多操作"
        >
          <i aria-label="ic-others" class="iconfont iconmoreread"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="height: 56px;"></div>
</footer>
