<footer class="article-footer">
  <div class="article-footerContainer">
    <div class="article-footerWrap">
      <div class="article-footerTextarea">
        <textarea
          (focus)="change()"
          [ngClass]="{ 'new-textarea': !changeTools }"
          placeholder="写下你的评论..."
        ></textarea>
        <div
          [hidden]="changeTools"
          class="card-emoji anticon anticon-smile _2qhU6p"
        >
          <app-card-article-emoji></app-card-article-emoji>
        </div>
      </div>

      <div class="article-footerTools" [hidden]="!changeTools">
        <div
          class="article-footerTools-li article-footerTools-comment"
          aria-label="添加评论"
        >
          
          <i aria-label="ic-reply" class="iconfont iconreply"></i
          ><span><nz-anchor [nzAffix]="false">
              <nz-link nzHref="#nz-link" nzTitle="评论174"></nz-link>
            </nz-anchor></span>
        </div>
        <div
          class="article-footerTools-li article-footerTools-like"
          aria-label="给文章点赞"
        >
          <i aria-label="ic-like" class="iconfont iconlike"></i
          ><span>赞1159</span>
        </div>
        <div
          class="article-footerTools-li article-footerTools-more"
          aria-label="更多操作"
        >
          <!-- <i aria-label="ic-others" class="iconfont iconmoreread"></i> -->
          <app-card-article-more></app-card-article-more>
        </div>
      </div>

      <div class="article-btns" [hidden]="changeTools">
        <span disabled="" type="button" class="_1OyPqC _3Mi9q9 _1YbC5u"
          ><span>发布</span></span
        >
        <button type="button" class="_1OyPqC" (click)="change()">
          <span>取消</span>
        </button>
      </div>
    </div>
  </div>
  <div class="" style="height: 56px;"></div>
</footer>
