<app-header></app-header>
<app-layout-all-column>
  <div class="body-all-wrap">
    <div nz-row class="row top">
      <div nz-col nzXs="7" class="col-xs-7 user">
        <a href="/u/#" class="avatar"
          ><img
            src="//upload.jianshu.io/users/upload_avatars/19245301/25d33e39-ff2c-4859-8df9-10059f07bd22?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240/format/webp"
        /></a>
        <div class="info">
          <a href="/u/#" class="name">
            诺冲
          </a>
          <!-- <div class="mobile-bind has-bind">
            已绑定手机
          </div>
          <div class="dropdown-menu arrow-top">
            <div>当前绑定手机: 178****3440</div>
          </div> -->
          <div
            class="mobile-bind has-bind"
            nz-popover
            [nzPopoverContent]="contentTemplate"
            nzPopoverPlacement="bottomLeft"
          >
            已绑定手机
          </div>

          <ng-template #contentTemplate>
            <div>
              当前绑定手机: 178****3440
            </div>
          </ng-template>
        </div>
      </div>
      <div nz-col nzXs="10" class="col-xs-10 middle">
        <div class="account-money">账户余额</div>
        <span class="money-main">0</span><span class="money-sub">.00元</span>
        <div class="action">
          <div class="btn btn-hollow disable">
            提现
          </div>
          <span class="warn">*当前余额不足</span>
        </div>
      </div>
      <div nz-col nzXs="7" class="col-xs-7 meta">
        <div>每次提现最小额度为￥100.00</div>
        <div>提现会在 3-5 个工作日内到账</div>
        <div>结算后的收益，提现不再收取手续费</div>
        <a href="/p/#" target="_blank" class="help">收入结算与提现常见问题</a>
      </div>
    </div>

    <ul class="body">
      <li class="title">
        <div class="time">时间</div>
        <div class="type">类型</div>
        <div class="details">详情</div>
        <div class="amount">金额</div>
        <div class="remark">状态</div>
      </li>
    </ul>
  </div>
</app-layout-all-column>
