<app-header></app-header>

<app-layout-all-column>
  <div class="body-all-wrap books">
    <p class="total">共为您找到279部该标签下的连载作品</p>
    <div id="book-waterfall" class="clearfix">
      <div class="book-wrap" [routerLink]="['/directory']">
        <div class="book">
          <span class="paid-badge">付费</span>
          <div
            class="banner"
            style='background-image: url("https://upload.jianshu.io/book/image/1ba9a448-ce05-4b35-aedb-f33c1215768d?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/400/format/webp");'
          ></div>
          <div class="info">
            <p class="title">风光摄影师小课堂</p>
            <div class="user-panel">
              <span
                ><img
                  src="https://upload.jianshu.io/users/upload_avatars/3343569/6940ee65-036f-4b7a-9935-5915d9b67d14.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32"
                  class="avatar"
                /><span class="nickname oneline">吴晓布</span></span
              ><span class="readit">
                24.3k阅读
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="book-wrap" [routerLink]="['/directory']">
        <div class="book">
          <span class="paid-badge">付费</span>
          <div
            class="banner"
            style='background-image: url("https://upload.jianshu.io/book/image/d6c850c6-13f5-408a-ba3c-fb3b4ef631c3?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/400/format/webp");'
          ></div>
          <div class="info">
            <p class="title">焰火与花儿的味道</p>
            <div class="user-panel">
              <span
                ><img
                  src="https://upload.jianshu.io/users/upload_avatars/11250261/996eb0a9-4d31-44ef-ba93-10dfc8fc9ad2.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32"
                  class="avatar"
                /><span class="nickname oneline">水波银</span></span
              ><span class="readit">
                2.6k阅读
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="book-wrap" [routerLink]="['/directory']">
        <div class="book">
          <span class="paid-badge">付费</span>
          <div
            class="banner"
            style='background-image: url("https://upload.jianshu.io/book/image/741d215c-5eb3-4202-a7c0-2448c74aa494?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/400/format/webp");'
          ></div>
          <div class="info">
            <p class="title">青春玄幻|我的左眼 第一季</p>
            <div class="user-panel">
              <span
                ><img
                  src="https://upload.jianshu.io/users/upload_avatars/9415528/a0135072-6014-4e7b-8b83-0a98d5c12d08.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32"
                  class="avatar"
                /><span class="nickname oneline">木禾_520</span></span
              ><span class="readit">
                14.2k阅读
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout-all-column>
