.modal-header {
  .saTF2Q {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._3sAsA5 {
    margin-left: 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #969696;
    cursor: pointer;
    .anticon {
      display: inline-block;
      color: inherit;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -0.125em;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    > span {
      margin-left: 3px;
    }
  }
}
.KdlMNE {
  height: 480px;
  overflow-y: scroll;
  padding: 0px;
  ._99AOeY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 0;
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
    ._3CGUtf {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 48px;
      margin-right: 16px;
      font-family: Arial-BoldItalicMT, sans-serif;
      font-size: 22px;
      font-weight: normal;
      color: #b3b3b3;
    }

    //div>
    ._1euQZJ {
      margin-bottom: 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      ._1JV12M {
        font-size: 16px;
        font-weight: 500;
        color: inherit;
      }
    }
    .Fm0jls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 12px;
      color: #969696;
    }
  }
}
