<ng-template #modalTitle>
  <div class="modal-header">
    <div class="saTF2Q">
      <div>共 14 篇</div>
      <div class="_3sAsA5" role="button" tabindex="-1" aria-label="切换顺序">
        <i aria-label="ic-toggle" class="iconfont iconqiehuan2 anticon"></i
        ><span>切换顺序</span>
      </div>
    </div>
  </div>
</ng-template>
<nz-modal
  nzWrapClassName="vertical-center-modal"
  [(nzVisible)]="isVisibleMiddle"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()"
  [nzWidth]="640"
  [nzFooter]="null"
>
  <div class="KdlMNE">
    <div>
      <div>
        <div class="_99AOeY">
          <div class="_3CGUtf">1</div>
          <div>
            <div class="_1euQZJ">
              <a
                class="_1JV12M _1OhGeD"
                href="/p/8c327735e940"
                target="_blank"
                rel="noopener noreferrer"
                >威士忌笔记1. 麦卡伦12年</a
              >
            </div>
            <div class="Fm0jls">
              <span
                >字数 233 · 阅读 487 ·
                <time datetime="2018-04-19T15:48:41.000Z"
                  >04.19 23:48</time
                ></span
              >
            </div>
          </div>
        </div>
        <div class="_99AOeY">
          <div class="_3CGUtf">2</div>
          <div>
            <div class="_1euQZJ">
              <a
                class="_1JV12M _1OhGeD"
                href="/p/45e98af51ade"
                target="_blank"
                rel="noopener noreferrer"
                >威士忌笔记2. Caol Ila12Y/O</a
              >
            </div>
            <div class="Fm0jls">
              <span
                >字数 153 · 阅读 179 ·
                <time datetime="2018-05-15T14:40:31.000Z"
                  >05.15 22:40</time
                ></span
              >
            </div>
          </div>
        </div>
        <div class="_99AOeY">
          <div class="_3CGUtf">3</div>
          <div>
            <div class="_1euQZJ">
              <a
                class="_1JV12M _1OhGeD"
                href="/p/281910b5accd"
                target="_blank"
                rel="noopener noreferrer"
                >威士忌笔记3. The BenRiach 16 Years</a
              >
            </div>
            <div class="Fm0jls">
              <span
                >字数 342 · 阅读 229 ·
                <time datetime="2018-06-25T15:22:05.000Z"
                  >06.25 23:22</time
                ></span
              >
            </div>
          </div>
        </div>
        <div class="_99AOeY">
          <div class="_3CGUtf">4</div>
          <div>
            <div class="_1euQZJ">
              <a
                class="_1JV12M _1OhGeD"
                href="/p/7eae4b81ae63"
                target="_blank"
                rel="noopener noreferrer"
                >威士忌笔记4. BALVENIE 12 YEAR OLD Double Wood</a
              >
            </div>
            <div class="Fm0jls">
              <span
                >字数 276 · 阅读 281 ·
                <time datetime="2018-10-07T15:37:20.000Z"
                  >10.07 23:37</time
                ></span
              >
            </div>
          </div>
        </div>
        <div class="_99AOeY">
          <div class="_3CGUtf">5</div>
          <div>
            <div class="_1euQZJ">
              <a
                class="_1JV12M _1OhGeD"
                href="/p/3d06fe6a6683"
                target="_blank"
                rel="noopener noreferrer"
                >威士忌笔记5. DEVERON Aged 12 Years</a
              >
            </div>
            <div class="Fm0jls">
              <span
                >字数 382 · 阅读 345 ·
                <time datetime="2018-11-25T16:13:17.000Z"
                  >11.26 00:13</time
                ></span
              >
            </div>
          </div>
        </div>
        <div class="_99AOeY">
          <div class="_3CGUtf">6</div>
          <div>
            <div class="_1euQZJ">
              <a
                class="_1JV12M _1OhGeD"
                href="/p/c76506ec819c"
                target="_blank"
                rel="noopener noreferrer"
                >威士忌笔记6. OBAN 14年</a
              >
            </div>
            <div class="Fm0jls">
              <span
                >字数 430 · 阅读 315 ·
                <time datetime="2018-12-03T08:58:22.000Z"
                  >12.03 16:58</time
                ></span
              >
            </div>
          </div>
        </div>
        <div class="_99AOeY">
          <div class="_3CGUtf">7</div>
          <div>
            <div class="_1euQZJ">
              <a
                class="_1JV12M _1OhGeD"
                href="/p/2f21d2889e9a"
                target="_blank"
                rel="noopener noreferrer"
                >威士忌笔记7. 知多</a
              >
            </div>
            <div class="Fm0jls">
              <span
                >字数 398 · 阅读 792 ·
                <time datetime="2018-12-26T03:29:16.000Z"
                  >12.26 11:29</time
                ></span
              >
            </div>
          </div>
        </div>
        <div class="_99AOeY">
          <div class="_3CGUtf">8</div>
          <div>
            <div class="_1euQZJ">
              <a
                class="_1JV12M _1OhGeD"
                href="/p/4b20108c6d8c"
                target="_blank"
                rel="noopener noreferrer"
                >威士忌笔记8.Benromach 10年</a
              >
            </div>
            <div class="Fm0jls">
              <span
                >字数 493 · 阅读 366 ·
                <time datetime="2019-01-24T16:31:24.000Z"
                  >01.25 00:31</time
                ></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-modal>
