.navbar-default {
  background-color: #fff;
  border-color: #f0f0f0;
  top: 0;
  border-width: 0 0 1px;
  color: #333;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  // border-bottom: 1px solid transparent;
  border-bottom: 1px solid rgb(236, 236, 236);
  height: 56px;
  display: block;
  &.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .width-limit {
    min-width: 768px;
    max-width: 1440px;
    margin: 0 auto;
    .logo {
      float: left;
      height: 56px;
      padding: 0;
      img {
        height: 100%;
        vertical-align: middle;
      }
    }
    .write-btn {
      float: right;
      width: 100px;
      height: 40px;
      line-height: 24px;
      margin: 8px 12px 0;
      border-radius: 20px;
      font-size: 15px;
      color: #fff;
      background-color: #ea6f5a;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      user-select: none;
      .ic-write {
        margin-right: 3px;
        font-size: 19px;
        vertical-align: middle;
      }
    }
    .user {
      float: right;
      height: 100%;
      &:hover {
        background-color: #f5f5f5;
      }
      > div {
        .avatar {
          position: relative;
          width: 40px;
          height: 40px;
          margin: 8px 24px 8px 16px;
          display: block;
          cursor: pointer;
          &:before {
            content: '';
            position: absolute;
            top: 18px;
            right: -14px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #999;
          }
          img {
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
      }
      .dropdown-menu {
        //display: none;
        display: block;
        left: auto;
        border-radius: 0 0 4px 4px;
        margin-top: 0;
        border-color: transparent;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        -webkit-filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
        position: absolute;
        top: 100%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        // margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-clip: padding-box;
        li {
          line-height: 20px;
          a {
            padding: 10px 20px;
            line-height: 30px;
            display: block;
            clear: both;
            font-weight: 400;
            color: #333;
            white-space: nowrap;
            &:hover {
              background-color: #f5f5f5;
              text-decoration: none;
              outline: 0;
            }
            i {
              margin-right: 15px;
              font-size: 18px;
              color: #ea6f5a;
              vertical-align: middle;
            }
            span {
              vertical-align: middle;
            }
          }
        }
      }
    }
    .nqzzJ71pC-jOnJKAfdtr6_0 {
      float: right;
      height: 55px;
      padding: 15px 0px;
      margin: 0 12px;
      ._3tScN0zmSdGLaUAH4SxTbM_0 {
        width: 100%;
        height: 100%;
        img {
          height: 25px;
        }
      }
    }
    .style-mode {
      float: right;
      position: relative;
      .style-mode-btn {
        float: right;
        line-height: 20px;
        padding: 17px 10px;
        font-size: 24px;
        color: #969696;
      }
      .popover-modal {
        left: -210%;
        position: absolute;
        top: 56px;
        z-index: 1;
        padding: 20px 20px 20px 24px;
        margin-left: -80px;
        min-width: 235px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
        -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
        &:before {
          position: absolute;
          top: -10px;
          left: 78%;
          content: '';
          display: inline-block;
          border: 9px solid transparent;
          border-top: none;
        }
        &:after {
          top: -9px;
          position: absolute;
          left: 78%;
          content: '';
          display: inline-block;
          border: 9px solid transparent;
          border-bottom: 9px solid #fff; //此处要注意上下关系，否则不会显示
          border-top: none;
        }
        .meta {
          padding-left: 4px;
          margin-right: 16px;
          font-size: 14px;
          color: #969696;
          line-height: 40px;
          vertical-align: middle;
          display: inline-block;
          .ic-navigation-night {
            position: relative;
            top: 2px;
            margin-right: 5px;
            font-size: 17px;
          }
          span {
            vertical-align: middle;
          }
        }
        .day-night-group {
          width: auto;
          vertical-align: middle;
          display: inline-block;
          &:first-child {
            padding: 10px 13px 10px 17px;
            border-radius: 20px 0 0 20px;
            border-right: none;
          }
          &:last-child {
            padding: 10px 17px 10px 13px;
            border-radius: 0 20px 20px 0;
            border-left: none;
          }
          &.active {
            color: #fff;
            background-color: #6dacf4;
            border-color: #6dacf4;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          }
          .switch-btn {
            width: 49%;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0 !important;
            color: #969696;
            border: 1px solid #e5e5e5;
            vertical-align: middle;
            display: inline-block;
          }
        }
        .switch {
          font-size: 0;
          letter-spacing: -4px;
          .switch-btn {
            width: 49%;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0 !important;
            color: #969696;
            border: 1px solid #e5e5e5;
            vertical-align: middle;
            display: inline-block;
            &:first-child {
              padding: 10px 13px 10px 17px;
              border-radius: 20px 0 0 20px;
              border-right: none;
            }
            &:last-child {
              padding: 10px 17px 10px 13px;
              border-radius: 0 20px 20px 0;
              border-left: none;
            }
            &.active {
              color: #fff;
              background-color: #6dacf4;
              border-color: #6dacf4;
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            }
          }
        }
        hr {
          margin: 20px -20px;
          border-color: #f0f0f0;
          border: 0;
          border-top: 1px solid #eee;
          box-sizing: content-box;
          height: 0;
        }
        .font-family-group {
          margin-bottom: 10px;
          .font-song {
            font-family: Georgia, Times New Roman, Times, Songti SC, serif;
          }
          .font-hei {
            font-family: -apple-system, SF UI Text, Arial, PingFang SC,
              Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
          }
        }
      }
    }
  }
}

//导航中间部分
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  > .navbar-header {
    height: 56px; //FIXED 之前没有这个属性
    margin-right: -15px;
    margin-left: -15px;
    .navbar-toggle {
      float: left;
      padding: 11px 10px;
      margin-top: 9px;
      position: relative;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-color: #ddd;
      border-radius: 4px;
      -webkit-appearance: button;
      overflow: visible;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      cursor: pointer;
      .icon-bar {
        background-color: #888;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        text-transform: none;
        & + .icon-bar {
          margin-top: 4px;
        }
      }
    }
  }
  .navbar-collapse {
    border-color: #e7e7e7;
    max-height: 340px;
    margin-left: -15px !important;
    .nav {
      padding-left: 0;
      list-style: none;
      li {
        margin-right: 10px;
        position: relative;
        display: block;
        line-height: 20px;
        text-align: -webkit-match-parent;
        a {
          position: relative;
          display: block;
          height: 56px;
          line-height: 20px;
          padding: 15px;
          color: #333;
          &:hover {
            background-color: #f5f5f5;
          }
          span {
          }
          .menu-icon {
            display: inherit;
            float: left;
            font-size: 20px;
          }
        }
      }
      //消息
      .notification {
        //display: none;
        // .notification-btn:hover + .dropdown-menu{
        //   display: block;
        // }
        .dropdown-menu {
          display: block;
          width: 200px;
          margin-top: -1px;
          border-radius: 0 0 4px 4px;
          border-color: transparent;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
          -webkit-filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          float: left;
          min-width: 160px;
          padding: 5px 0;
          // margin: 2px 0 0;
          list-style: none;
          font-size: 14px;
          text-align: left;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.15);
          background-clip: padding-box;
          li {
            margin: 0;
            width: 100%;
            a {
              height: auto;
              padding: 10px 20px;
              line-height: 30px;
              color: #333;
              display: block;
              clear: both;
              font-weight: 400;
              white-space: nowrap;
              i {
                margin-right: 15px;
                font-size: 22px;
                color: #ea6f5a;
                vertical-align: middle;
              }
              span {
                vertical-align: middle;
              }
            }
          }
        }
      }
      .search {
        // display: none;
        padding-left: 15px;
        form {
          position: relative;
          top: 9px;
          margin: 0 0 20px;
          input {
            color: inherit;
            font: inherit;
            margin: 0;
            font-size: inherit;
            line-height: inherit;
          }
          .search-input {
            padding: 0 40px 0 20px;
            width: 160px;
            height: 38px;
            font-size: 14px;
            border: 1px solid #eee;
            border-radius: 40px;
            background: #eee;
            transition: width 0.5s;
            -moz-transition: width 0.5s;
            -webkit-transition: width 0.5s;
            -o-transition: width 0.5s;
            transition-delay: 0.1s;
            -moz-transition-delay: 0.1s;
            -webkit-transition-delay: 0.1s;
            -o-transition-delay: 0.1s;
            outline: none;
            &:focus {
              transition-delay: 0s;
              -moz-transition-delay: 0s;
              -webkit-transition-delay: 0s;
              -o-transition-delay: 0s;
              width: 240px;
              outline: none;
            }
          }
          .search-input:focus + .search-btn {
            background-color: #969696;
            border-radius: 50%;
            color: #fff !important;
          }
          .search-input:focus ~ #navbar-search-tips {
            visibility: visible;
            opacity: 1;
          }
          .search-btn {
            position: absolute;
            top: 4px;
            right: 5px;
            width: 30px;
            height: 30px !important;
            line-height: normal !important;
            padding: 0 !important;
            color: #969696 !important;
            text-align: center;
            .ic-search {
              margin: 5px -1px 0 0;
              display: block;
            }
          }
          #navbar-search-tips,
          #navbar-search-tips:before {
            position: absolute;
            background-color: #fff;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          }
          #navbar-search-tips {
            margin-top: 9px;
            width: 250px;
            left: 0;
            top: 100%;
            visibility: hidden;
            opacity: 0;
            border-radius: 4px;
            .search-recent {
              padding: 5px;
              ul {
                list-style-type: none;
                margin-bottom: 0;
                padding-left: 0;
                margin-top: 0;
                li {
                  margin-right: 0;
                  line-height: 20px;
                  a {
                    display: block;
                    height: 40px;
                    line-height: 20px;
                    padding: 10px 15px;
                    font-size: 14px;
                    color: #333;
                    position: relative;
                    &:hover {
                      .ic-unfollow {
                        display: block;
                      }
                    }
                    .ic-search-history {
                      float: left;
                      margin-right: 10px;
                      font-size: 18px;
                      color: #787878;
                    }
                    span {
                      vertical-align: middle;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      display: block;
                      padding-right: 30px;
                    }
                    .ic-unfollow {
                      position: absolute;
                      right: 15px;
                      top: 10px;
                      color: #a0a0a0;
                      display: none;
                      &:hover {
                        color: rgb(47, 47, 47);
                      }
                    }
                  }
                }
              }
            }
          }
          #navbar-search-tips:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-bottom-color: #fff;
            left: 20px;
            bottom: 99%;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  nav .navbar-collapse {
    width: 100vw;
    border: none;
  }
  nav ul.nav.navbar-nav {
    background: #fff;
  }
  nav .navbar-nav {
    margin: 0 -15px;
  }
  nav .navbar-nav li {
    border-bottom: 1px solid #f0f0f0;
  }
  nav .navbar-nav li a {
    text-align: center;
  }
  nav .navbar-nav li a {
    text-align: center;
  }
  nav .menu-icon {
    display: none !important;
  }
  nav .notification .dropdown-menu {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    border-radius: 4px;
    &.navbar-fixed-top {
      border-radius: 0;
    }
  }
  .container {
    width: 750px;
    > .navbar-header {
      margin-right: 0;
      margin-left: 0;
      float: left;
      .navbar-toggle {
        display: none;
      }
    }
    .navbar-collapse {
      border-color: #e7e7e7;
      padding-left: 0;
      padding-right: 0;
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
      width: auto;
      border-top: 0;
      box-shadow: none;
      .navbar-nav {
        float: left;
        margin: 0;
        > li {
          float: left;
          a {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 1080px) and (min-width: 768px) {
  nav {
    .navbar-nav {
      li {
        margin-right: 5px !important;
      }
    }
    .menu-text {
      display: none;
    }
    form {
      .search-input,
      .search-input:focus {
        width: 150px !important;
      }
    }
  }
}

@media (max-width: 1080px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 1439px) and (min-width: 1081px) {
  //第一次响应布局图标消失
  nav .menu-icon {
    display: none !important;
  }
}
@media (min-width: 1439px) {
  nav {
    form {
      .search-input {
        width: 240px !important;
        &:focus {
          width: 320px !important;
        }
      }
    }
    .menu-icon {
      margin-right: 5px;
    }
  }
}
.header-fill {
  position: relative;
  display: block;
  height: 56px;
}
