<!-- <p>header works!</p> -->
<header>
  <div class="header-container">
    <div class="header-logo">
      <i class="iconfont iconjianyue"></i>
    </div>
    <div class="header-body">
      <div class="header-body-li found">发现</div>
      <div class="header-body-li focus">关注</div>
      <div class="header-body-li message">消息</div>
      <div class="header-body-li search">
        <div class="search-wrap">
          <input type="search" class="search-input" value="" placeholder="搜索">
          <span class="search-icon-warp">
            <i  class="iconfont iconsearch"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="header-setting">
      <div class="header-setting-li settings"><i class="iconfont icona"></i></div>
      <div class="header-setting-li beta">
        <i class="iconfont iconzuanshi"></i>
        <i class="iconfont iconbeta"></i>
      </div>
      <div class="header-setting-li persional">
        <img
          src="https://upload.jianshu.io/users/upload_avatars/19245301/25d33e39-ff2c-4859-8df9-10059f07bd22?imageMogr2/auto-orient/strip|imageView2/1/w/80/h/80/format/webp" />
      </div>
      <div class="header-setting-li write">
        <a class="btn-write">
          <i class="iconfont iconquill"></i>
          写文章
        </a>
      </div>
    </div>
  </div>
</header>