<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="width-limit">
    <!-- 左上方 Logo -->
    <a [routerLink]="['/write']" class="logo"
      ><img
        src="//cdn2.jianshu.io/assets/web/nav-logo-4c7bbafe27adc892f3046e6978459bac.png"
        alt="Nav logo"
    /></a>

    <!-- 右上角 -->
    <!-- 登录显示写文章 -->
    <a [routerLink]="['/write']" class="btn write-btn">
      <i class="iconfont ic-write iconquill"></i>写文章
    </a>
    <!-- 如果用户登录，显示下拉菜单 -->
    <div
      class="user"
      (mouseover)="dropdownMenuOpen2()"
      (mouseleave)="dropdownMenuHidden2([$event])"
      #dropdown2
    >
      <div data-hover="dropdown">
        <a class="avatar" href="javascript:;"
          ><img
            src="//upload.jianshu.io/users/upload_avatars/19245301/25d33e39-ff2c-4859-8df9-10059f07bd22?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120"
            alt="120"
        /></a>
      </div>
      <ul
        class="dropdown-menu"
        (mouseleave)="dropdownMenuHidden2([$event])"
        #dropdownmenu2
        [hidden]="!expression2"
      >
        <li>
          <a [routerLink]="['/home']">
            <i class="iconfont ic-navigation-profile iconwode"></i
            ><span>我的主页</span>
          </a>
        </li>
        <li>
          <!-- TODO bookmarks_path -->
          <a [routerLink]="['/bookmarks']">
            <i class="iconfont ic-navigation-mark iconarticles"></i
            ><span>收藏的文章</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/liked']">
            <i class="iconfont ic-navigation-like iconxihuan1"></i
            ><span>喜欢的文章</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/paid']">
            <i class="iconfont ic-paid iconmoney"></i><span>已购内容</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/wallet']">
            <i class="iconfont ic-navigation-wallet iconqianbao"></i
            ><span>我的钱包</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/settings']">
            <i class="iconfont ic-navigation-settings iconshezhi"></i
            ><span>设置</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/faqs']">
            <i class="iconfont ic-navigation-feedback iconpinglun"></i
            ><span>帮助与反馈</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/sign-in']" rel="nofollow" data-method="delete">
            <i class="iconfont ic-navigation-signout icontuichu"></i
            ><span>退出</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="nqzzJ71pC-jOnJKAfdtr6_0">
      <a class="_3tScN0zmSdGLaUAH4SxTbM_0"
        ><img
          src="//cdn2.jianshu.io/assets/web/nav_jsds_beta-eeb44d165b8ba37680fdb7e65ae17ae4.png"
          class="_3f806byixOPpOPWnx8HiQP_0"
      /></a>
    </div>

    <div class="style-mode" (clickOutside)="close($event)">
      <a href="javascript:;" class="style-mode-btn" (click)="changeStyleModal()"
        ><i class="iconfont ic-navigation-mode icona"></i
      ></a>
      <div class="popover-modal" *ngIf="styleModal">
        <div class="meta">
          <i class="iconfont ic-navigation-night"></i><span>夜间模式</span>
        </div>
        <div class="switch day-night-group">
          <a
            href="javascript:;"
            class="switch-btn"
            [ngClass]="{ active: dayNight }"
            (click)="changeDayNight()"
            >开</a
          >
          <a
            href="javascript:;"
            class="switch-btn active"
            [ngClass]="{ active: !dayNight }"
            (click)="changeDayNight()"
            >关</a
          >
        </div>
        <hr />
        <div class="switch font-family-group">
          <a
            class="switch-btn font-song"
            [ngClass]="{ active: fontFamily == 'song' ? true : false }"
            (click)="fontFamily = 'song'"
            >宋体</a
          >
          <a
            class="switch-btn font-hei active"
            [ngClass]="{ active: fontFamily == 'hei' ? true : false }"
            (click)="fontFamily = 'hei'"
            >黑体</a
          >
        </div>
        <div class="switch">
          <a
            class="switch-btn active"
            [ngClass]="{ active: fontStyle == 'jian' ? true : false }"
            (click)="fontStyle = 'jian'"
            >简</a
          >
          <a
            class="switch-btn"
            [ngClass]="{ active: fontStyle == 'fan' ? true : false }"
            (click)="fontStyle = 'fan'"
            >繁</a
          >
        </div>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#menu"
          aria-expanded="false"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li class="tab ">
            <a [routerLink]="['/discovery']">
              <span class="menu-text">发现</span
              ><i
                class="iconfont ic-navigation-discover menu-icon icondiscover"
              ></i>
            </a>
          </li>
          <li class="tab ">
            <a [routerLink]="['/follow']">
              <span class="menu-text">关注</span
              ><i
                class="iconfont ic-navigation-follow menu-icon iconguanzhu1"
              ></i>
            </a>
          </li>
          <li class="tab notification">
            <a
              (click)="dropdownMenu($event)"
              (mouseover)="dropdownMenuOpen()"
              (mouseleave)="dropdownMenuHidden([$event])"
              #dropdown
              data-hover="dropdown"
              href="javascript:;"
              class="notification-btn"
              ><span class="menu-text">消息</span>
              <i
                class="iconfont ic-navigation-notification menu-icon iconjianxin"
              ></i>
            </a>
            <ul
              (mouseleave)="dropdowns([$event])"
              class="dropdown-menu"
              [hidden]="!expression"
              #dropdownmenu
            >
              <li>
                <a [routerLink]="['/message']"
                  ><i class="iconfont ic-comments iconpinglun1"></i>
                  <span>评论</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/message']"
                  ><i class="iconfont ic-chats iconjianxin"></i>
                  <span>简信</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/message']"
                  ><i class="iconfont ic-requests icontougaoqingqiu"></i>
                  <span>投稿请求</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/message']"
                  ><i class="iconfont ic-likes iconxihuan"></i>
                  <span>喜欢和赞</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/message']"
                  ><i class="iconfont ic-follows iconguanzhu1"></i>
                  <span>关注</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/message']"
                  ><i class="iconfont ic-money iconzanshang"></i>
                  <span>赞赏和付费</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/message']"
                  ><i class="iconfont ic-others iconqita"></i>
                  <span>其它提醒</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="search">
            <form action="/search" accept-charset="UTF-8" method="get">
              <input name="utf8" type="hidden" value="✓" />
              <input
                type="text"
                value=""
                autocomplete="off"
                placeholder="搜索"
                class="search-input"
              />
              <a class="search-btn" [routerLink]="['/search']"
                ><i class="iconfont ic-search iconsearch"></i
              ></a>
              <div id="navbar-search-tips">
                <div class="search-recent">
                  <ul class="search-recent-item-wrap">
                    <li>
                      <a href="javascript:;"
                        ><i class="iconfont ic-search-history icontime"></i>
                        <span>vue</span>
                        <i class="iconfont ic-unfollow iconhebingxingzhuang"></i
                      ></a>
                    </li>
                    <li>
                      <a href="javascript:;"
                        ><i class="iconfont ic-search-history icontime"></i>
                        <span>fd</span>
                        <i class="iconfont ic-unfollow iconhebingxingzhuang"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="header-fill"></div>
