<!-- <p>header works!</p> -->
<header>
  <div class="header-container">
    <div class="header-logo">
      <i class="iconfont iconjianyue"></i>
    </div>
    <div class="header-body">
      <div class="found">发现</div>
      <div class="focus">关注</div>
      <div class="message">消息</div>
      <div class="search">
        搜索
      </div>
    </div>
    <div class="header-setting">
      <div class="settings">设置</div>
      <div class="beta">beta</div>
      <div class="persional">
        <img src="https://upload.jianshu.io/users/upload_avatars/19245301/25d33e39-ff2c-4859-8df9-10059f07bd22?imageMogr2/auto-orient/strip|imageView2/1/w/80/h/80/format/webp"/>
      </div>
    </div>
  </div>
</header>