.body-one-wrap {
  margin-bottom: 60px;
  h3 {
    margin: 10px 0 20px;
    font-size: 21px;
    font-weight: 700;
    color: #333;
  }
  h6 {
    margin: 0;
    padding: 10px 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #333;
    clear: both;
  }
  h5 {
    margin: 30px 0 10px;
    font-size: 17px;
    font-weight: 700;
    color: #333;
  }
  a {
    color: #3194d0;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
}
