h4 {
  font-size: 18px;
  line-height: 1.1;
  &.title {
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
    .normal-title {
      a {
        padding: 10px;
        color: #969696;
      }
      .active {
        font-weight: 700;
        color: #ea6f5a;
        border-bottom: 2px solid #ea6f5a;
      }
      b {
        padding: 10px;
      }
    }
  }
}
