<app-header></app-header>
<app-left-right-layout-follow>
  <div class="body-aside-wrap">
    <ul>
      <li class="router-link-exact-active active">
        <a href="javascript:;"
          ><div class="setting-icon">
            <i class="iconfont ic-settings-basic iconjichushezhi"></i>
          </div>
          <span>基础设置</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><div class="setting-icon">
            <i class="iconfont ic-settings-profile icongerenziliao"></i>
          </div>
          <span>个人资料</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><div class="setting-icon">
            <i class="iconfont ic-settings-block iconheimingdan"></i>
          </div>
          <span>黑名单</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><div class="setting-icon">
            <i class="iconfont ic-settings-money iconjineshezhi"></i>
          </div>
          <span>赞赏设置</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:;"
          ><div class="setting-icon">
            <i class="iconfont ic-settings-account iconzhanghaoguanli1"></i>
          </div>
          <span>帐号管理</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="body-main-wrap">
    <table>
      <thead>
        <tr>
          <th class="setting-head responsive-head"></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="base">
        <tr>
          <td class="top-line">
            <div class="avatar">
              <img
                src="//upload.jianshu.io/users/upload_avatars/19245301/25d33e39-ff2c-4859-8df9-10059f07bd22?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/300/format/webp"
              />
            </div>
          </td>
          <td class="top-line">
            <a class="btn btn-hollow"
              ><input unselectable="on" type="file" class="hide" />
              更改头像
            </a>
          </td>
        </tr>
        <tr>
          <td class="setting-title">
            昵称
          </td>
          <td><input type="text" placeholder="请输入昵称" /></td>
        </tr>
        <tr>
          <td class="setting-title">电子邮件</td>
          <td>
            <button
              nzType="primary"
              (click)="showModal()"
              class="btn btn-hollow"
            >
              点击绑定
            </button>
            <app-bind-email
              (outer)="runParent($event)"
              #bindEmail
              [isVisible]="isVisible"
            ></app-bind-email>
          </td>
        </tr>
        <tr>
          <td class="setting-title">手机</td>
          <td class="setted">
            <div>178****3440</div>
            <i class="iconfont ic-collections-followed icongezicomfollowd"></i>
            <span>已验证</span> <a class="cancel-bind">更换绑定的手机号</a>
          </td>
        </tr>
        <tr>
          <td class="setting-title setting-editor">常用编辑器</td>
          <td>
            <div nz-col nzXs="8" class="col-xs-8">
              <input type="radio" value="plain" /> <span>富文本</span>
            </div>
            <div nz-col nzXs="16" class="col-xs-16">
              <input type="radio" value="markdown" />
              <span
                >Markdown
                <a href="javascript:;" class="help"
                  ><i class="iconfont ic-navigation-help iconhelp"></i></a
              ></span>
            </div>
            <p>切换后对新建文章生效</p>
          </td>
        </tr>
        <tr>
          <td class="setting-title setting-verticle">语言设置</td>
          <td>
            <div nz-col nzXs="8" class="col-xs-8">
              <input type="radio" value="zh-CN" /> <span>中文简体</span>
            </div>
            <div nz-col nzXs="16" class="col-xs-16">
              <input type="radio" value="zh-TW" /> <span>中文繁体</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="setting-title setting-verticle">接收谁的简信</td>
          <td>
            <div nz-col nzXs="8" class="col-xs-8">
              <input type="radio" value="true" />
              <span class="responsive-span">所有人</span>
            </div>
            <div nz-col nzXs="16" class="col-xs-16">
              <input type="radio" value="false" />
              <span class="responsive-span">我关注的人、我发过简信的人</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="setting-title setting-verticle">提醒邮件通知</td>
          <td>
            <div nz-col nzXs="8" class="col-xs-8">
              <input type="radio" value="instantly" />
              <span class="responsive-span">所有动态</span>
            </div>
            <div nz-col nzXs="11" class="col-xs-11">
              <input type="radio" value="later" />
              <span class="responsive-span">每天未读汇总</span>
            </div>
            <div nz-col nzXs="5" class="col-xs-5">
              <input type="radio" value="none" />
              <span class="responsive-span">不接收</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <input type="submit" class="btn btn-success setting-save" value="保存" />

    <table class="personal">
      <thead>
        <tr>
          <th class="setting-head"></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="information">
        <tr>
          <td class="top-line setting-title setting-verticle">
            性别
          </td>
          <td class="top-line">
            <input type="radio" value="1" /> <span>男</span>
            <input type="radio" value="2" /> <span>女</span>
            <input type="radio" value="3" /> <span>保密</span>
          </td>
        </tr>
        <tr>
          <td class="setting-title pull-left">个人简介</td>
          <td>
            <form><textarea placeholder="填写你的个人简介"></textarea></form>
          </td>
        </tr>
        <tr>
          <td class="setting-title pull-left setting-input">个人网站</td>
          <td>
            <form>
              <input type="text" name="website" placeholder="http://你的网址" />
              <p class="pull-right">填写后会在个人主页显示图标</p>
            </form>
          </td>
        </tr>
        <tr>
          <td class="setting-title">微信二维码</td>
          <td class="weixin-qrcode">
            <input type="file" class="hide" />
            <a class="btn btn-hollow"
              ><input type="file" class="hide" />
              更换图片
            </a>
            <p class="pull-right">上传后会在个人主页显示图标</p>
          </td>
        </tr>
        <tr>
          <td class="setting-title setting-input pull-left">社交帐号</td>
          <td class="social-bind">
            <p>
              你可以通过绑定的社交帐号登录简书。出于安全因素,
              你最初用来创建账户的社交帐号不能移除。
            </p>
            <p>
              如果帐号被占用，你可以在<a href="javascript:;"
                >简书帐号绑定解绑相关问题汇总</a
              >中获得相关帮助。
            </p>
            <ul class="social-bind-list">
              <li>
                <div class="bind-name">
                  <i class="iconfont ic-weibo iconsina"></i>
                  <a href="javascript:;"
                    >绑定微博<i class="iconfont ic-arrow iconleft"></i
                  ></a>
                </div>
              </li>
              <li>
                <div class="bind-name">
                  <i class="iconfont ic-wechat iconweixin"></i>
                  <a href="javascript:;"
                    >绑定微信<i class="iconfont ic-arrow iconleft"></i
                  ></a>
                </div>
              </li>
              <li class="has-bind">
                <div class="bind-name">
                  <i class="iconfont ic-qq_connect iconqq"></i>
                  <i
                    class="iconfont ic-collections-followed icongezicomfollowd"
                  ></i>
                  <span>已绑定</span> <a class="cancel-bind">解除绑定</a>
                </div>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <input type="submit" class="btn btn-success setting-save" value="保存" />

    <div class="blacklist">
      <div class="title">
        你可以在用户主页将用户加入你的黑名单。在你黑名单中的用户无法在你文章下评论，无法在其它评论中提到你，无法给你发送简信，自动从你的粉丝列表移除且无法再关注你。
      </div>
      <ul>
        <li><a href="javascript:;">路上阳光</a> <a>从黑名单中移除</a></li>
      </ul>
    </div>

    <input type="submit" class="btn btn-success setting-save" value="保存" />

    <table class="pay-money">
      <thead>
        <tr>
          <th class="setting-head"></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="setting-pay">
        <tr>
          <td class="setting-title pull-left setting-editor top-line">
            赞赏功能
          </td>
          <td class="top-line">
            <div nz-col nzXs="6" class="col-xs-6">
              <input type="radio" value="true" /> <span>开启</span>
            </div>
            <div nz-col nzXs="18" class="col-xs-18">
              <input type="radio" value="false" /> <span>关闭</span>
            </div>
            <p>开启后赞赏按钮将出现在你的文章底部</p>
          </td>
        </tr>
        <tr>
          <td class="setting-title pull-left setting-input">赞赏描述</td>
          <td><textarea row="3"></textarea></td>
        </tr>
      </tbody>
    </table>

    <input type="submit" class="btn btn-success setting-save" value="保存" />

    <table class="download-article">
      <thead>
        <tr>
          <th class="setting-head"></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="account">
        <tr>
          <td class="setting-title top-line">打包下载文章</td>
          <td class="top-line">
            <a href="javascript:;" class="btn btn-hollow">下载所有文章</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="delete-account-content">
      <a
        class="show-button"
        (click)="changeShowDeleteBtn()"
        [hidden]="showDeleteBtn"
      >
        删除帐号 <i class="iconfont ic-show iconbottom"></i
      ></a>
      <div class="content" [hidden]="!showDeleteBtn">
        <h4>永久删除帐号</h4>
        <ul>
          <li>
            如果你不小心创建出了多余的帐号，或在绑定帐号的时候提示帐号被占用，你可以在<a
              href="javascript:;"
              >简书帐号绑定解绑相关问题汇总</a
            >中获得相关帮助。
          </li>
          <li>
            如果你对简书上的某些内容、功能或社区规则不满意，你可以在<a
              href="javascript:;"
              >帮助与反馈页</a
            >向我们提出。
          </li>
          <li>
            删除帐号前，请确保已经没有任何公开或私密文章，且钱包中全部余额已清零。
          </li>
          <li>删除帐号是不可逆的操作，删除后将无法恢复。</li>
        </ul>
        <a class="btn btn-hollow">保留我的帐号</a>
        <a class="btn btn-delete">删除帐号</a>
      </div>
    </div>
  </div>
</app-left-right-layout-follow>
