<app-header></app-header>
<div class="body-container">
  <div class="body-wrap">
    <div class="body-left">
      <section class="article-content">
        <h1>AngularCLI命令速查表</h1>
        <div class="article-info">
          <div class="article-hot">
            <span class="article-hot-wrap">
              <i class="iconfont iconzuanshi"> </i>
              <span>0.531</span>
            </span>
            <time>2017.04.04 18:14:03</time>
            <span class="article-total-number">字数 85</span>
            <span class="article-read-number">阅读 10267</span>
          </div>
        </div>

        <article class="article-text">
          <p>版本：1.7.2</p>
          <h2>命令列表</h2>
          <table>
            <thead>
              <tr>
                <th>名称</th>
                <th style="text-align:center">作用</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ng init</td>
                <td style="text-align:center">在当前目录下创建应用</td>
              </tr>
              <tr>
                <td>ng new</td>
                <td style="text-align:center">
                  创建新的目录并在新目录下运行ng init命令
                </td>
              </tr>
              <tr>
                <td>ng serve</td>
                <td style="text-align:center">启动</td>
              </tr>
              <tr>
                <td>ng doc</td>
                <td style="text-align:center">
                  在浏览器中打开Angular文档并搜索当前关键字
                </td>
              </tr>
              <tr>
                <td>ng e2e</td>
                <td style="text-align:center">
                  使用 protractor 在当前应用中运行e2e测试
                </td>
              </tr>
              <tr>
                <td>ng format</td>
                <td style="text-align:center">
                  使用 clang-format 格式化当前项目代码
                </td>
              </tr>
              <tr>
                <td>ng generate</td>
                <td style="text-align:center">在项目中构建新代码</td>
              </tr>
              <tr>
                <td>ng g</td>
                <td style="text-align:center">ng generate的简写</td>
              </tr>
              <tr>
                <td>ng build</td>
                <td style="text-align:center">构建项目</td>
              </tr>
              <tr>
                <td>ng github-pages:deploy [options]</td>
                <td style="text-align:center">将项目部署到GitHub Pages</td>
              </tr>
              <tr>
                <td>ng version</td>
                <td style="text-align:center">
                  输出cli版本, node 版本和操作系统信息
                </td>
              </tr>
              <tr>
                <td>ng set</td>
                <td style="text-align:center">设置环境</td>
              </tr>
            </tbody>
          </table>
          <p>任何指令后面都可以加--help以查看帮助</p>
        </article>

        <div class="article-tools">
          <div class="article-tools-wrap">
            <div class="article-tools-like">
              <div class="article-tools-likeWrap">
                <i class="iconfont iconlike"></i>
              </div>
              <span class="article-tools-likeList"
                >17人点赞
                <i class="iconfont iconleft"></i>
              </span>
            </div>
            <div class="article-tools-dislike">
              <div class="article-tools-dislikeWrap">
                <i class="iconfont icondislike"></i>
              </div>
            </div>
          </div>
          <div class="article-notebook">
            <a class="article-notebook-icon" href="" target="_blank">
              <i class="iconfont iconnotebook"></i>
              <span>Angular CLI</span>
            </a>
            <div class="article-notebook-more">
              <div class="article-notebook-moreWrap">
                <i class="iconfont iconmoreread"></i>
              </div>
            </div>
          </div>
        </div>

        <div
          class="article-line"
          style="margin-top:24px;margin-bottom:24px"
        ></div>

        <div class="article-other">
          <div class="article-other-wrap">
            <div class="article-other-li article-focus">
              <a class="article-focus-wrap" href="" target="_blank">
                <img
                  class="article-focus-img"
                  src="//upload.jianshu.io/users/upload_avatars/3133072/3d2c1365f39d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120/format/webp"
                />
              </a>
              <div class="article-focus-content">
                <div class="article-focus-nameWrap" title="琢磨先生lf">
                  <a
                    class="article-focus-name"
                    href="/u/afd1971aa3b2"
                    target="_blank"
                    >琢磨先生lf</a
                  >
                </div>
                <div class="article-focus-introduce">
                  <span>拥有6钻 (约0.68元)</span>
                </div>
              </div>
              <button
                data-locale="zh-CN"
                type="button"
                class="article-focus-btn"
              >
                <span>关注</span>
              </button>
            </div>
            <div class="article-other-li article-admire">
              <div class="article-admire-wrap">
                <span class="">"小礼物走一走，来简书关注我"</span>
              </div>
              <button type="button" class="article-admire-btn">
                <span>赞赏</span>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="article-comment">
        <div class="article-commentWrap">
          <div class="article-comment-editWrap">
            <img
              class="article-comment-img"
              src="//upload.jianshu.io/users/upload_avatars/19245301/25d33e39-ff2c-4859-8df9-10059f07bd22?imageMogr2/auto-orient/strip|imageView2/1/w/80/h/80/format/webp"
            />
            <div class="article-comment-textarea">
              <textarea class="" placeholder="写下你的评论..."></textarea>
              <div></div>
            </div>
          </div>

          <h3 class="article-comment-wonderful">
            <div class="article-comment-wonderfulWrap">
              <span class="article-comment-wonderfulTitle">精彩评论</span>
              <span class="article-comment-wonderfulContent">3</span>
            </div>
          </h3>

          <div class="article-comment-list">
            <div class="article-comment-listWrap" id="45709532">
              <a
                class="article-comment-listImg"
                href="/u/1c18b02a9191"
                target="_blank"
                ><img
                  class=""
                  src="//upload.jianshu.io/users/upload_avatars/19346695/6a2c9b4a-a91d-4290-bad2-6aa490f5615a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/80/h/80/format/webp"
              /></a>
              <div class="article-comment-listRight">
                <div class="article-comment-listRight-name">
                  <a class="" href="/u/1c18b02a9191" target="_blank"
                    >苏璃的光影</a
                  >
                </div>
                <div class="article-comment-listRight-time">
                  <span>87楼 </span
                  ><time datetime="2019-08-22T12:40:46.000Z">08.22 20:40</time>
                </div>
                <div class="article-comment-listRight-content">
                  付出努力总有回报，加油！
                </div>
                <div class="article-comment-listRight-tools">
                  <div class="article-comment-listRight-toolsWrap">
                    <span
                      class="article-comment-listRight-toolsLike"
                      aria-label="点赞"
                    >
                      <i aria-label="ic-like" class="iconfont iconlike"></i>
                      5
                    </span>
                    <span
                      class="article-comment-listRight-toolsReply"
                      aria-label="添加评论"
                    >
                      <i aria-label="ic-reply" class="iconfont iconreply"></i>
                      回复
                    </span>
                  </div>
                  <div class="article-comment-listRight-report">
                    <span class=" " aria-label="举报评论"
                      ><i class="anticon anticon-alert"></i> 举报</span
                    >
                  </div>
                </div>
                <div class="article-comment-listRight-Reply">
                  <div class="article-comment-listRight-ReplyBack">
                    <div class="article-comment-listRight-ReplyBack-head">
                      <a
                        class="article-comment-listRight-ReplyBack-headImg"
                        href="/u/1c18b02a9191"
                        target="_blank"
                        ><img
                          class=""
                          src="//upload.jianshu.io/users/upload_avatars/19346695/6a2c9b4a-a91d-4290-bad2-6aa490f5615a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/80/h/80/format/webp"
                      /></a>
                      <div
                        class="article-comment-listRight-ReplyBack-headInfo"
                        style="margin-left: 10px;"
                      >
                        <div
                          class="article-comment-listRight-ReplyBack-headInfo-name"
                        >
                          <a class="" href="/u/1c18b02a9191" target="_blank"
                            >苏璃的光影</a
                          >
                        </div>
                        <div
                          class="article-comment-listRight-ReplyBack-headInfo-time"
                        >
                          <time datetime="2019-08-24T00:22:34.000Z"
                            >08.24 08:22</time
                          >
                        </div>
                      </div>
                    </div>
                    <div class="article-comment-listRight-ReplyBack-body">
                      谢谢鼓励！<img
                        src="//static.jianshu.io/assets/emojis/heart.png"
                        alt=":heart:"
                        title=":heart:"
                        class="emoji"
                        width="20"
                        height="20"
                      />
                    </div>
                    <div class="article-comment-listRight-ReplyBack-footer">
                      <div
                        class="article-comment-listRight-ReplyBack-footerReply"
                      >
                        <span class="" aria-label="回复评论"
                          ><i aria-label="ic-reply" class="iconfont "></i>
                          回复</span
                        >
                      </div>
                      <div
                        class="article-comment-listRight-ReplyBack-footerReport"
                      >
                        <span class=" " aria-label="举报评论"
                          ><i class="anticon anticon-alert"></i> 举报</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="article-comment-listRight-add">
                  <span
                    class="article-comment-listRight-addBtn"
                    aria-label="添加子评论"
                    ><i aria-label="ic-pencil" class="iconfont "></i>
                    添加新评论</span
                  >
                </div>
                <div></div>
              </div>
            </div>
          </div>

          <h3 class="article-comment-listAll">
            <div class="article-comment-listAll-left">
              <span class="article-comment-listAll-left-1">全部评论</span>
              <span class="article-comment-listAll-left-2">173</span>
              <span
                class="article-comment-listAll-left-3"
                role="checkbox"
                tabindex="0"
                aria-label="只看作者"
                aria-checked="false"
                >只看作者</span
              >
            </div>
            <div class="article-comment-listAll-right">
              <div
                class="article-comment-listAll-right-rev"
                role="button"
                tabindex="-1"
              >
                按时间倒序
              </div>
              <div
                class="article-comment-listAll-right-seq"
                role="button"
                tabindex="-1"
              >
                按时间正序
              </div>
            </div>
          </h3>

          <div class="article-comment-listLoading">
            <div class="article-comment-listLoading-header">
              <div class="article-comment-listLoading-headerImg"></div>
              <div>
                <div class="article-comment-listLoading-headerImg-top"></div>
                <div class="article-comment-listLoading-headerImg-bottom"></div>
              </div>
            </div>
            <div class="article-comment-listLoading-content1"></div>
            <div
              class="article-comment-listLoading-content2 article-animation-delay"
            ></div>
            <div class="article-comment-listLoading-footer">
              <i
                aria-label="ic-like"
                class="iconfont iconlike article-comment-listLoading-footer-i"
              ></i>
              <div class="article-comment-listLoading-footer-t"></div>
              <i
                aria-label="ic-reply"
                class="iconfont iconreply article-comment-listLoading-footer-i"
              ></i>
              <div class="article-comment-listLoading-footer-t"></div>
            </div>
          </div>

          <div class="article-comment-listShowAll">
            这里是所有评论
          </div>

          <ul class="article-comment-listPaging">
            <li
              class="article-comment-listPaging-li article-comment-listPaging-liLeft"
            >
              1
            </li>
            <li class="article-comment-listPaging-li">2</li>
            <li class="article-comment-listPaging-li">3</li>
            <li class="article-comment-listPaging-li">4</li>
            <li class="article-comment-listPaging-liRight">下一页</li>
          </ul>
        </div>
      </section>

      <section class="article-more">
        <span class="article-moreProject"
          ><span>被以下专题收入，发现更多相似内容</span></span
        >
        <div class="article-moreProject-content">
          <div class="article-moreProject-contentAdd" aria-label="收入我的专题">
            <i aria-label="ic-plus" class="iconfont iconadd"></i
            ><span class="_2-Djqu">收入我的专题</span>
          </div>
          <a
            class="article-moreProject-contentBtn"
            href="/c/177fd7e0391a"
            target="_blank"
            ><img
              class="_2vEwGY"
              src="//upload.jianshu.io/collections/images/1696243/%E8%8C%89%E8%8E%89%E8%8A%B114.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/48/h/48/format/webp"
            /><span class="_2-Djqu">君子爱财取之有道</span></a
          >
        </div>

        <div
          class="article-line"
          style="margin-top:32px;margin-bottom:32px"
        ></div>

        <h3 class="article-recommend">
          <span>推荐阅读</span
          ><a class="_29KFEa _1OhGeD" href="/" target="_blank"
            >更多精彩内容<i aria-label="ic-right" class="anticon"
              ><svg
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
                focusable="false"
                class=""
              >
                <use xlink:href="#ic-right"></use></svg></i
          ></a>
        </h3>

        <ul class="article-recommend-content">
          <li class="article-recommend-contentLi">
            <div class="article-recommend-contentLi-wrap">
              <div
                class="article-recommend-contentLi-wrapTitle"
                title="号外 号外 大量收稿"
                role="heading"
                aria-level="4"
              >
                <a
                  class="article-recommend-contentLi-wrapBody"
                  href="/p/6d7dd37f27b6"
                  target="_blank"
                  >号外 号外 大量收稿</a
                >
              </div>
              <div class="article-recommend-contentLi-wrapFooter">
                只有一个要求—— 原创首发。 原则上 ，任何形式的稿件都接收。
                也就是征稿范围给到最大。 [if !support...
              </div>
              <div class="article-recommend-contentLi-wrapFooterContainer">
                <a
                  class="_3IWz1q _1OhGeD"
                  href="/u/64b6f870b764"
                  target="_blank"
                  ><img
                    class="_34VC_H"
                    src="//upload.jianshu.io/users/upload_avatars/19787832/2d7d66ee-9538-4a27-825f-0a196a7ae664?imageMogr2/auto-orient/strip|imageView2/1/w/48/h/48/format/webp"
                  /><span class="_3tPsL6">Summer369</span></a
                >
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <!-- <div class="body-right">
      <section class="user-info"></section>
      <section class="user-info"></section>
    </div> -->
    <aside class="body-right">
      <section class="user-info">
        <div class="user-infoHeader">
          <a class="user-infoHeader-img" href="/u/4c2094ebb372" target="_blank"
            ><img
              class="_3T9iJQ"
              src="//upload.jianshu.io/users/upload_avatars/15783563/0463a5db-e1ea-4661-9f81-29c1b3d988b7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/90/h/90/format/webp"
          /></a>
          <div class="user-infoHeaderContent">
            <div class="user-infoHeaderContent-head">
              <div class="user-infoHeaderContent-headName">
                <span class="" title="大头田">
                  <a class="" href="/u/4c2094ebb372" target="_blank"> 大头田</a>
                </span>
                <span class=""></span>
              </div>
              <button type="button" class="">
                <span>关注</span>
              </button>
            </div>
            <div class="user-infoHeaderContent-introduce">
              拥有40.6W钻 (约43229.02元)
            </div>
          </div>
        </div>
        <div class="article-line"></div>
        <div class="user-infoContent" role="listitem">
          <div
            class="user-infoContent-top"
            title="谁不曾如邱莹莹那般在爱情里犯过傻"
          >
            <a class="" href="/p/bfa5607dd3d9" target="_blank"
              >谁不曾如邱莹莹那般在爱情里犯过傻</a
            >
          </div>
          <div class="user-infoContent-bottom">阅读 1965</div>
        </div>
      </section>
      <section class="article-next">
        <h3 class="article-nextTitle"><span>精彩继续</span></h3>
        <div class="article-nextContentSpecial" role="listitem">
          <div class="article-nextContentSpecial-left">
            <div
              class="article-nextContentSpecial-leftTitle"
              title="华为百万年薪博士被嘲：读书不如学做杨超越……"
            >
              <a class="" href="/p/7bf2e8463b87" target="_blank"
                >华为百万年薪博士被嘲：读书不如学做杨超越……</a
              >
            </div>
            <div class="article-nextContentSpecial-leftNum">阅读 5972</div>
          </div>
          <a
            class="article-nextContentSpecial-right"
            href="/p/7bf2e8463b87"
            target="_blank"
            ><img
              class="_1w8ebu"
              src="https://upload-images.jianshu.io/upload_images/18529254-5d844f2ba997f772?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/128/format/webp"
          /></a>
        </div>
        <div class="article-nextContent" role="listitem">
          <div class="article-nextContentSpecial-left">
            <div
              class="article-nextContentSpecial-leftTitle"
              title="Android打造万能自定义阴影控件"
            >
              <a class="_1-HJSV _1OhGeD" href="/p/259abc441af5" target="_blank"
                >Android打造万能自定义阴影控件</a
              >
            </div>
            <div class="article-nextContentSpecial-leftNum">阅读 2694</div>
          </div>
        </div>
      </section>
      <div><div class="" style=""></div></div>
    </aside>
  </div>
</div>

<app-footer></app-footer>
<app-back-top></app-back-top>