<app-header></app-header>
<div class="body-container">
  <div class="body-wrap">
    <div class="body-left">
      <section class="article-content">
        <h1>AngularCLI命令速查表</h1>
        <div class="article-info">
          <div class="article-hot">
            <span class="article-hot-wrap">
              <i class="iconfont iconzuanshi"> </i>
              <span>0.531</span>
            </span>
            <time>2017.04.04 18:14:03</time>
            <span class="article-total-number">字数 85</span>
            <span class="article-read-number">阅读 10267</span>
          </div>
        </div>




        <article class="article-text">
          <p>版本：1.7.2</p>
          <h2>命令列表</h2>
          <table>
            <thead>
              <tr>
                <th>名称</th>
                <th style="text-align:center">作用</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ng init</td>
                <td style="text-align:center">在当前目录下创建应用</td>
              </tr>
              <tr>
                <td>ng new</td>
                <td style="text-align:center">创建新的目录并在新目录下运行ng init命令</td>
              </tr>
              <tr>
                <td>ng serve</td>
                <td style="text-align:center">启动</td>
              </tr>
              <tr>
                <td>ng doc</td>
                <td style="text-align:center">在浏览器中打开Angular文档并搜索当前关键字</td>
              </tr>
              <tr>
                <td>ng e2e</td>
                <td style="text-align:center">使用 protractor 在当前应用中运行e2e测试</td>
              </tr>
              <tr>
                <td>ng format</td>
                <td style="text-align:center">使用 clang-format 格式化当前项目代码</td>
              </tr>
              <tr>
                <td>ng generate</td>
                <td style="text-align:center">在项目中构建新代码</td>
              </tr>
              <tr>
                <td>ng g</td>
                <td style="text-align:center">ng generate的简写</td>
              </tr>
              <tr>
                <td>ng build</td>
                <td style="text-align:center">构建项目</td>
              </tr>
              <tr>
                <td>ng github-pages:deploy [options]</td>
                <td style="text-align:center">将项目部署到GitHub Pages</td>
              </tr>
              <tr>
                <td>ng version</td>
                <td style="text-align:center">输出cli版本, node 版本和操作系统信息</td>
              </tr>
              <tr>
                <td>ng set</td>
                <td style="text-align:center">设置环境</td>
              </tr>
            </tbody>
          </table>
          <p>任何指令后面都可以加--help以查看帮助</p>
        </article>


        <div class="_1kCBjS">
          <div class="_18vaTa">
            <div class="_3BUZPB">
              <div class="_2Bo4Th" role="button" tabindex="-1" aria-label="给文章点赞"><i aria-label="ic-like"
                  class="anticon"><svg width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false"
                    class="">
                    <use xlink:href="#ic-like"></use>
                  </svg></i></div><span class="_1LOh_5" role="button" tabindex="-1" aria-label="查看点赞列表">17人点赞<i
                  aria-label="icon: right" class="anticon anticon-right"><svg viewBox="64 64 896 896" focusable="false"
                    class="" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                    <path
                      d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z">
                    </path>
                  </svg></i></span>
            </div>
            <div class="_3BUZPB">
              <div class="_2Bo4Th" role="button" tabindex="-1"><i aria-label="ic-dislike" class="anticon"><svg
                    width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false" class="">
                    <use xlink:href="#ic-dislike"></use>
                  </svg></i></div>
            </div>
          </div>
          <div class="_18vaTa"><a class="_3BUZPB _1x1ok9 _1OhGeD" href="/nb/11924044" target="_blank"
              rel="noopener noreferrer"><i aria-label="ic-notebook" class="anticon"><svg width="1em" height="1em"
                  fill="currentColor" aria-hidden="true" focusable="false" class="">
                  <use xlink:href="#ic-notebook"></use>
                </svg></i><span>Angular CLI</span></a>
            <div class="_3BUZPB ant-dropdown-trigger">
              <div class="_2Bo4Th"><i aria-label="ic-others" class="anticon"><svg width="1em" height="1em"
                    fill="currentColor" aria-hidden="true" focusable="false" class="">
                    <use xlink:href="#ic-others"></use>
                  </svg></i></div>
            </div>
          </div>
        </div>

        <div class="_19DgIp" style="margin-top:24px;margin-bottom:24px"></div>

        <div class="_3W59v5">
          <div class="Uz-vZq">
            <div class="VwEQ52"><a class="_1OhGeD" href="/u/afd1971aa3b2" target="_blank" rel="noopener noreferrer"><img
                  class="_3nYIo3"
                  src="//upload.jianshu.io/users/upload_avatars/3133072/3d2c1365f39d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120/format/webp"
                  alt="  "></a>
              <div class="_2lfNuF">
                <div class="Cqpr1X" title="琢磨先生lf"><a class="_1OhGeD" href="/u/afd1971aa3b2" target="_blank"
                    rel="noopener noreferrer">琢磨先生lf</a></div>
                <div class="_2qBui4"><span>拥有6钻 (约0.68元)</span></div>
              </div><button data-locale="zh-CN" type="button" class="_1OyPqC _3Mi9q9"><span>关注</span></button>
            </div>
            <div class="VwEQ52 _13lIbp">
              <div class="_2lfNuF">
                <div class="Cqpr1X">"小礼物走一走，来简书关注我"</div>
              </div><button type="button" class="_1OyPqC _3Mi9q9"><span>赞赏</span></button>
            </div>
          </div>
        </div>

      </section>
      <section class="article-comment"></section>
      <section class="article-more"></section>
    </div>
    <div class="body-right">
      <section class="user-info"></section>
      <section class="article-next"></section>
    </div>
  </div>
</div>
<button nz-button nzType="primary">Primary</button>
<button nz-button nzType="default">Default</button>
<button nz-button nzType="dashed">Dashed</button>
<button nz-button nzType="danger">Danger</button>
<button nz-button nzType="link">Link</button>
<app-footer></app-footer>