.meta {
  padding-right: 0 !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  span {
    margin-right: 10px;
    color: #b4b4b4;
    &.jsd-meta {
      color: #ea6f5a !important;
    }
  }
  a {
    margin-right: 10px;
    color: #b4b4b4;
    -webkit-transition: 0.1s ease-in;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
  }
}