<!-- 更多登录方式 -->
<div class="more-sign">
  <h6>社交帐号登录</h6>
  <ul>
    <li id="weibo-link-wrap" class="">
      <a class="weibo" id="weibo-link">
        <i class="iconfont ic-weibo iconsina"></i>
      </a>
    </li>
    <li>
      <a id="weixin" class="weixin" href="/users/auth/wechat"
        ><i class="iconfont ic-wechat iconweixin"></i
      ></a>
    </li>
    <li>
      <a id="qq" class="qq" href="/users/auth/qq_connect"
        ><i class="iconfont ic-qq_connect iconqq"></i
      ></a>
    </li>
    <li class="js-more-method" id="more">
      <a [routerLink]="['/error']"
        ><i class="iconfont ic-more iconmoreread"></i
      ></a>
    </li>
    <li class="js-hide-method hide">
      <a class="douban" href="/users/auth/douban"
        ><i class="iconfont ic-douban icondouban"></i
      ></a>
    </li>
  </ul>

  <div class="weibo-geetest-captcha"></div>
</div>
