<app-header></app-header>

<div class="container recommend">
  <img
    class="recommend-banner"
    src="//cdn2.jianshu.io/assets/web/recommend-author-03cc8798d5cc3f986e49cbcb2eb63079.png"
    alt="Recommend author"
  />
  <a class="help" href="/p/6df6dc693ab4">
    <i class="iconfont ic-navigation-help iconbangzhu"></i>
    如何成为签约作者
  </a>
  <div nz-row class="row">
    <div nz-col nzXs="8" class="col-xs-8">
      <div class="wrap">
        <a href="/users/ef4f2422125f">
          <img
            class="avatar"
            src="//upload.jianshu.io/users/upload_avatars/301940/189d69dd-af7c-4290-9e2c-89e98acf3603.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180"
            alt="180"
          />
          <h4 class="name">
            卢璐说
          </h4>
          <p class="description">欢迎关注我的个人公众号：lulu_blog ...</p>
        </a>
        <a class="btn btn-success follow"
          ><i class="iconfont ic-follow iconadd"></i><span>关注</span></a
        >

        <hr />
        <div class="meta">最近更新</div>
        <div class="recent-update">
          <a class="new" href="/p/6597faac0374"
            >当当李国庆：别惹中年女人，出手就让你生不如死</a
          >
          <a class="new" href="/p/384e7445bde9"
            >离婚后的中年男人，为什么容易遭人嫌弃？l Opinion</a
          >
          <a class="new" href="/p/558722b9dc39"
            >那个杀死丈夫的女人，正在拯救婚姻</a
          >
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-danger load-more-btn" data-next-page="2" href=""
    >加载更多</a
  >
</div>
