<app-header></app-header>

<app-left-right-layout>
  <div class="body-left-wrap main">
    <div class="main-top">
      <a class="avatar-collection" href="javascript:;">
        <img
          src="//upload.jianshu.io/book/image/1ba9a448-ce05-4b35-aedb-f33c1215768d?imageMogr2/auto-orient/strip|imageView2/1/w/214/h/286"
          alt="286"
        />
      </a>
      <div class="title">
        <a class="name" href="javascript:;">风光摄影师小课堂</a>
      </div>
      <div class="info">
        <span class="paid-meta">
          <i class="iconfont ic-paid"></i>
          付费
        </span>
        48246字 · 2.4万阅读 · 287人关注
      </div>

      <!-- 如果是免费连载, 或者是用户已购买的付费连载，直接阅读 -->
      <!-- 如果是付费连载，并且当前用户没有购买过该连载，那么显示购买按钮 -->
      <div class="buttons paid">
        <a id="openBuyModal" class="btn btn-success btn-buy"
          >立即拿下 ￥19.90</a
        >
        <a class="btn btn-success btn-free-read" href="javascript:;"
          >免费试读</a
        >
        <!-- 如果未登录，或已登录且当前用户不是文集创建者，才显示关注按钮 -->
        <a class="btn btn-success follow"
          ><i class="iconfont ic-follow iconadd"></i> <span>关注</span></a
        >
      </div>
    </div>

    <div class="summary">
      作为一个非职业的专业风光摄影师，大约十年的拍摄历程，有一些对于风光摄影的思考以及部分摄影作品。适用于摄影爱好者的风光摄影进阶提升。

      <div class="tags clearfix">
        <span><i class="iconfont ic-tag icontag"></i></span>
        <a target="_blank" href="javascript:;">成长</a>
        <a target="_blank" href="javascript:;">摄影</a>
        <a target="_blank" href="javascript:;">付费连载</a>
      </div>
    </div>

    <div class="panel-container latest">
      <p class="title">最近更新</p>
      <div class="item">
        <span><i class="iconfont ic-latest iconnew"></i></span>
        <p class="name">
          <a href="javascript:;">摄影实践 | 光线的科学和艺术</a>
        </p>
        <span class="time">2019-10-29 01:04</span>
      </div>
    </div>
    <div class="panel-container">
      <div id="book-chapters" class="">
        <div class="header">
          <span>共 25 篇</span> <button>切换顺序</button>
        </div>
        <ul>
          <li class="">
            <span class="part">1</span> <span class="try">试读</span>
            <a href="javascript:;">
              摄影器材 | 关于摄影器材的你需要知道的知识
            </a>
          </li>
          <li class="">
            <span class="part">2</span> <span class="try">试读</span>
            <a href="javascript:;">
              摄影理论 | 论摄影的减法
            </a>
          </li>
          <li class="">
            <span class="part">3</span> <span class="try">试读</span>
            <a href="javascript:;">
              附录 | 写给初学者入门的摄影指南（附PPT下载地址）
            </a>
          </li>
          <li class="">
            <span class="part">4</span> <span class="try">试读</span>
            <a href="javascript:;">
              摄影理论 | 禅与风光摄影艺术
            </a>
          </li>
          <li class="">
            <span class="part">5</span>

            <a href="javascript:;">
              摄影理论 | 从黑白摄影谈谈艺术
            </a>
          </li>
          <li class="">
            <span class="part">6</span>

            <a href="javascript:;">
              摄影理论 | 古有达芬奇画蛋今有摄影爱好者拍荷
            </a>
          </li>
          <li class="">
            <span class="part">7</span>

            <a href="javascript:;">
              摄影理论 | 如何拍出有价值有内涵有艺术的照片
            </a>
          </li>
          <li class="">
            <span class="part">8</span>

            <a href="javascript:;">
              摄影器材 | 口袋里的无人机大疆御Air拍摄风光小白专用指南
            </a>
          </li>
          <li class="">
            <span class="part">9</span>

            <a href="javascript:;">
              软件使用 | 找回重要照片：解决SD卡“需要格式化”的问题
            </a>
          </li>
          <li class="">
            <span class="part">10</span>

            <a href="javascript:;">
              软件使用 | App一键生成的星球之美
            </a>
          </li>
        </ul>

        <a class="loadmore"
          >查看更多 <i class="iconfont ic-show iconbottom"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="body-right-wrap">
    <p class="title">连载作者</p>
    <ul class="list collection-editor">
      <li>
        <a class="avatar" href="javascript:;">
          <img
            src="//upload.jianshu.io/users/upload_avatars/3343569/6940ee65-036f-4b7a-9935-5915d9b67d14.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96"
            alt="96"
          />
        </a>
        <a class="name" href="javascript:;">吴晓布</a>
      </li>
    </ul>
    <p class="title">作者的其它连载</p>
    <ul class="list other-books">
      <li>
        <a class="book" href="javascript:;">
          <img
            class="cover"
            src="//upload.jianshu.io/book/image/cb3e2c69-15eb-4cd9-be6a-76bc0ff471a3?imageMogr2/auto-orient/strip|imageView2/1/w/45/h/60"
            alt="60"
          />
          <div class="name">提升认知能力：成为精英的行动指南</div>
          <div class="intro">
            “认知升级”系列适合所有希望让自己变得更智慧的读者。所谓成长就是认知升级。...
          </div>
        </a>
      </li>
      <li>
        <a class="book" href="javascript:;">
          <img
            class="cover"
            src="//upload.jianshu.io/book/image/4badc9c3-dc18-44dc-88f6-06994b2789f4?imageMogr2/auto-orient/strip|imageView2/1/w/45/h/60"
            alt="60"
          />
          <div class="name">自驾中国游记及风光摄影作品</div>
          <div class="intro">
            热爱生活的人都向往经常在路上，在旅途的路上，我们能遇见许多未知，有令人想流...
          </div>
        </a>
      </li>
      <li>
        <a class="book" href="javascript:;">
          <img
            class="cover"
            src="//upload.jianshu.io/book/image/de5e79a8-aab8-4b44-91f9-c60cfc3b6d56?imageMogr2/auto-orient/strip|imageView2/1/w/45/h/60"
            alt="60"
          />
          <div class="name">没有过不去的坎</div>
          <div class="intro">
            吴晓布的随笔作品集，希望读完以后能让你的心情大好。生活总是喜欢和我们开玩笑...
          </div>
        </a>
      </li>
      <li>
        <a class="book" href="javascript:;">
          <img
            class="cover"
            src="//upload.jianshu.io/book/image/4a55ae4f-620c-4e0e-bd75-a434252c0f81?imageMogr2/auto-orient/strip|imageView2/1/w/45/h/60"
            alt="60"
          />
          <div class="name">闲话思维模型</div>
          <div class="intro">
            本连载是《提升认知能力》一书的补充，主要以思维模型开始，聚焦思维方式与方法...
          </div>
        </a>
      </li>
    </ul>
  </div>
</app-left-right-layout>

<div class="buttons">
  <!-- 付费连载 -->
  <a class="btn btn-success btn-read" href="javascript:;">开始阅读</a>
  <!-- 如果未登录，或已登录且当前用户不是文集创建者，才显示关注按钮 -->
  <a
    class="btn btn-default following"
    (mouseenter)="changeBtnState()"
    (mouseleave)="changeBtnState()"
  >
    <div class="guanzhu" [hidden]="btnState">
      <i class="iconfont ic-followed icongezicomfollowd"></i>
      <span>已关注</span>
    </div>
    <div class="quxiao" [hidden]="!btnState">
      <i class="iconfont ic-followed iconhebingxingzhuang"></i>
      <span>取消关注</span>
    </div>
  </a>
</div>
