._3uZ5OL {
  text-align: center;
  padding: 24px 40px;
  ._2PLkjk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
    ._2R1-48 {
      min-width: 50px;
      min-height: 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #eee;
    }
    ._2h5tnQ {
      font-size: 24px;
      font-weight: 500;
      margin-left: 16px;
    }
  }
  ._1-bCJJ {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .LMa6S_ {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 162.5px;
      height: 56px;
      font-size: 16px;
      color: #969696;
      margin-bottom: 12px;
      margin-right: 12px;
      border-radius: 10px;
      border: 1px solid #eee;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      &._1sSZ6C {
        cursor: not-allowed;
        color: #969696;
        opacity: 0.5;
      }
      ._3PA8BN {
        color: #404040;
      }
      > i {
        font-size: 20px;
      }
      .anticon {
        display: inline-block;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        svg {
          display: inline-block;
          :not(svg) {
            transform-origin: 0px 0px;
          }
        }
        svg:not(:root) {
          overflow: hidden;
        }
        > * {
          line-height: 1;
        }
      }
      > span {
        font-size: 28px;
        font-style: italic;
      }
      &:last-child {
        margin-right: 0;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &._1vONvL {
        color: #ec7259;
        border-color: #ec7259;
      }
    }
    ._2ByDWa {
      position: relative;
      font-size: 28px;
    }
  }
  ._1OyPqC {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 14px;
    padding: 4px 12px;
    color: #969696;
    background-color: #fff;
    border: 1px solid #999;
  }
  button {
    text-transform: none;
    overflow: visible;
    margin: 0;
  }
  ._1YbC5u {
    color: #fff;
    background-color: #ec7259;
    border-color: #ec7259;
    -webkit-appearance: button;
  }
  ._3A-4KL {
    margin-top: 24px;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 48px;
  }
  ._1yN79W {
    display: block;
    width: 100%;
    height: 80px;
    resize: none;
    margin-top: 12px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    overflow: auto;
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    touch-action: manipulation;
  }
  ._1_B577 {
    font-size: 15px;
    margin: 12px 0;
  }
}
