<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]=""
  [nzContent]="modalContent"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="640"
>
  <ng-template #modalContent>
    <div class="_3uZ5OL">
      <div class="_2PLkjk">
        <img
          class="_2R1-48"
          src="//upload.jianshu.io/users/upload_avatars/15645795/14f9ea5c-3223-4f08-94d0-90fafabbbeff?imageMogr2/auto-orient/strip|imageView2/1/w/100/h/100/format/webp"
          alt=""
        />
        <div class="_2h5tnQ">给作者送糖</div>
      </div>
      <div class="_1-bCJJ">
        <div class="LMa6S_ _1vONvL" role="radio" aria-checked="true">
          <i aria-label="ic-sugar" class="anticon"
            ><svg
              width="1em"
              height="1em"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
              class=""
            >
              <use xlink:href="#ic-sugar"></use></svg></i
          ><span>2</span>
        </div>
        <div class="LMa6S_" role="radio" aria-checked="false">
          <i aria-label="ic-sugar" class="anticon"
            ><svg
              width="1em"
              height="1em"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
              class=""
            >
              <use xlink:href="#ic-sugar"></use></svg></i
          ><span>5</span>
        </div>
        <div class="LMa6S_" role="radio" aria-checked="false">
          <i aria-label="ic-sugar" class="anticon"
            ><svg
              width="1em"
              height="1em"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
              class=""
            >
              <use xlink:href="#ic-sugar"></use></svg></i
          ><span>10</span>
        </div>
        <div class="LMa6S_" role="radio" aria-checked="false">
          <i aria-label="ic-sugar" class="anticon"
            ><svg
              width="1em"
              height="1em"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
              class=""
            >
              <use xlink:href="#ic-sugar"></use></svg></i
          ><span>20</span>
        </div>
        <div class="LMa6S_" role="radio" aria-checked="false">
          <i aria-label="ic-sugar" class="anticon"
            ><svg
              width="1em"
              height="1em"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
              class=""
            >
              <use xlink:href="#ic-sugar"></use></svg></i
          ><span>50</span>
        </div>
        <div
          class="LMa6S_ _2ByDWa"
          role="radio"
          tabindex="-1"
          aria-label="输入自定义金额"
          aria-checked="false"
        >
          <span>自定义</span><input type="number" value="1" />
        </div>
      </div>
      <textarea class="_1yN79W" placeholder="给Ta留言..."></textarea>
      <div class="_1_B577">选择支付方式</div>
      <div class="_1-bCJJ">
        <div class="LMa6S_ _3PA8BN _1vONvL" role="radio" aria-checked="true">
          <i aria-label="ic-wechat-pay" class="anticon"
            ><svg
              width="1em"
              height="1em"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
              class=""
            >
              <use xlink:href="#ic-wechat-pay"></use></svg></i
          ><span>微信支付</span>
        </div>
        <div class="LMa6S_ _3PA8BN" role="radio" aria-checked="false">
          <i aria-label="ic-alipay" class="anticon"
            ><svg
              width="1em"
              height="1em"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
              class=""
            >
              <use xlink:href="#ic-alipay"></use></svg></i
          ><span>支付宝</span>
        </div>
        <div class="LMa6S_ _3PA8BN _1sSZ6C" aria-disabled="true">简书余额</div>
      </div>
      <button (click)="changeWeiXin()" type="button" class="_3A-4KL _1OyPqC _3Mi9q9 _1YbC5u">
        <span>确认支付</span><span> ￥</span>2
      </button>
    </div>
  </ng-template>
</nz-modal>


<nz-modal
  [(nzVisible)]="showWeiXin"
  [nzTitle]=""
  [nzContent]="modalContentWeiXin"
  [nzFooter]="null"
  (nzOnCancel)="handleCancelWeiXin()"
  [nzWidth]="360"
  [nzMaskClosable]="true"
>
  <ng-template #modalContentWeiXin>
    <div class="_3uZ5OL">
      <div class="_2PLkjk">
        <div class="_2h5tnQ">给作者送糖</div>
      </div>
      <div class="_1_B577">选择支付方式</div>
    </div>
  </ng-template>
</nz-modal>
