<app-header></app-header>

<app-left-right-layout-follow>
  <div class="body-aside-wrap">
    <div class="list">
      <ul class="menu">
        <li class="active">
          <a
            ><div class="setting-icon">
              <i class="iconfont iconwenzhang"></i>
            </div>
            <span>文章</span></a
          >
        </li>
        <li class="">
          <a
            ><div class="setting-icon">
              <i class="iconfont iconyonghu"></i>
            </div>
            <span>用户</span></a
          >
        </li>
        <li class="">
          <a
            ><div class="setting-icon">
              <i class="iconfont iconzhuanti"></i>
            </div>
            <span>专题</span></a
          >
        </li>
        <li class="">
          <a
            ><div class="setting-icon">
              <i class="iconfont iconwenji"></i>
            </div>
            <span>文集</span></a
          >
        </li>
      </ul>
    </div>

    <div class="search-recent">
      <div class="search-recent-header clearfix">
        <span>最近搜索</span> <a>清空</a>
      </div>
      <ul class="search-recent-item-wrap">
        <li>
          <a href="javascript:;"
            ><i class="iconfont ic-search-history icontime"></i>
            <span>vue</span>
            <i class="iconfont ic-unfollow iconhebingxingzhuang"></i
          ></a>
        </li>
        <li>
          <a href="javascript:;"
            ><i class="iconfont ic-search-history icontime"></i>
            <span>vue</span>
            <i class="iconfont ic-unfollow iconhebingxingzhuang"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="body-main-wrap">
    <div class="top">
      <div class="relevant">
        <div class="title">相关用户</div>
        <a class="function-btn"
          >查看全部<i class="iconfont ic-arrow iconleft"></i
        ></a>
        <div class="container-fluid list" nz-row>
          <div nz-col znXs="8" class="col-xs-8">
            <a href="javascript:;" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/5006099/b7f2b3b42ce5.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"
            /></a>
            <div class="info">
              <a href="javascript:;" class="name">vue_</a>
              <div class="meta">
                写了 0 字・0 喜欢
              </div>
            </div>
          </div>
          <div nz-col znXs="8" class="col-xs-8">
            <a href="javascript:;" class="avatar"
              ><img
                src="//cdn2.jianshu.io/assets/default_avatar/6-fd30f34c8641f6f32f5494df5d6b8f3c.jpg"
            /></a>
            <div class="info">
              <a href="javascript:;" class="name">Vue</a>
              <div class="meta">
                写了 0 字・2 喜欢
              </div>
            </div>
          </div>
          <div nz-col znXs="8" class="col-xs-8">
            <a href="javascript:;" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/5683394/3bfd5cf9-561f-4467-b24a-e6fcf13d7059?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"
            /></a>
            <div class="info">
              <a href="javascript:;" class="name"
                >vue_68a9</a
              >
              <div class="meta">
                写了 0 字・0 喜欢
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="relevant">
        <div class="title">相关专题</div>
        <a class="function-btn">查看全部<i class="iconfont ic-arrow iconleft"></i></a>
        <div class="container-fluid list">
          <div class="col-xs-8">
            <a href="javascript:;" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/276096/logo.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"
            /></a>
            <div class="info">
              <a href="javascript:;" class="name"
                >Vue.js专区</a
              >
              <div class="meta">
                1264 文章・5041 关注
              </div>
            </div>
          </div>
          <div class="col-xs-8">
            <a href="javascript:;" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/229010/logo.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"
            /></a>
            <div class="info">
              <a href="javascript:;" class="name"
                >Vue.js 资料</a
              >
              <div class="meta">
                124 文章・8609 关注
              </div>
            </div>
          </div>
          <div class="col-xs-8">
            <a href="javascript:;" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/226506/Unofficial_JavaScript_logo_2.svg.png?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"
            /></a>
            <div class="info">
              <a href="javascript:;" class="name"
                >前端进阶之路</a
              >
              <div class="meta">
                222 文章・3884 关注
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="search-content">
      <div class="sort-type">
        <a class="active"> 综合排序 · </a><a class=""> 热门文章 · </a
        ><a class=""> 最新发布 · </a
        ><a class="">
          最新评论
        </a>
        <span>
          &nbsp;&nbsp;|&nbsp;
        </span>
        <div class="v-select-wrap">
          <div class="v-select-submit-wrap">
            <svg viewBox="0 0 10 6" aria-hidden="true">
              <path
                d="M8.716.217L5.002 4 1.285.218C.99-.072.514-.072.22.218c-.294.29-.294.76 0 1.052l4.25 4.512c.292.29.77.29 1.063 0L9.78 1.27c.293-.29.293-.76 0-1.052-.295-.29-.77-.29-1.063 0z"
              ></path>
            </svg>
          </div>
          <div class="v-select-text-area-wrap">
            <div class="v-select-input-wrap">
              <ul class="v-select-selected-item-wrap">
                <li class="v-select-selected-item">
                  时间不限
                </li>
              </ul>
            </div>
          </div>
          <ul class="v-select-options-wrap" style="display: none;">
            <li class="v-select-options-item selected">
              时间不限
            </li>
            <li class="v-select-options-item">
              最近一周
            </li>
            <li class="v-select-options-item">
              最近一天
            </li>
            <li class="v-select-options-item">
              最近三月
            </li>
          </ul>
        </div>
      </div>
      <div class="result">51786 个结果</div>
      <ul class="note-list">
        <li>
          <div class="content">
            <div class="author">
              <a href="javascript:;" class="avatar"
                ><img
                  src="//cdn2.jianshu.io/assets/default_avatar/6-fd30f34c8641f6f32f5494df5d6b8f3c.jpg"
              /></a>
              <div class="info">
                <a href="javascript:;" class="nickname">柴东啊</a>
                <span class="time">
                  10 个月前
                </span>
              </div>
            </div>
            <a href="javascript:;" class="title"
              ><em class="search-result-highlight">vue</em> 常用插件</a
            >
            <p class="abstract">
              ……UI组件 element- 饿了么出品的Vue2的web UI工具套件 Vux- 基于<em
                class="search-result-highlight"
                >Vue</em
              >和WeUI的组件库 mint-ui-
              <em class="search-result-highlight">Vue</em> 2的移动UI元素 iview-
              基于 Vuejs 的开源…… UI 组件库 Keen-UI- 轻量级的基本UI组件合集
              <em class="search-result-highlight">vue</em>-material- 通过<em
                class="search-result-highlight"
                >Vue</em
              >
              Material和<em class="search-result-highlight">Vue</em>
              2建立精美的app应用 muse-ui- 三端样式一致的响应式 UI 库…… vuetify-
              为移动而生的<em class="search-result-highlight">Vue</em> JS
              2组件框架 vonic- 快速构建移动端单页应用 eme- 优雅的Markdown编辑器
              <em class="search-result-highlight">vue</em>-multiselect-
              <em class="search-result-highlight">Vue</em>.js选择框解决方案
              <em class="search-result-highlight">vue</em>……
            </p>
            <app-card-message-tools></app-card-message-tools>
          </div>
        </li>
        <li>
          <div class="content">
            <div class="author">
              <a href="javascript:;" class="avatar"
                ><img
                  src="//upload.jianshu.io/users/upload_avatars/1977282/2ec73b87c2df?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
              /></a>
              <div class="info">
                <a href="javascript:;" class="nickname">OSC开源社区</a>
                <span class="time">
                  2 年前
                </span>
              </div>
            </div>
            <a href="javascript:;" class="title"
              >可能是目前最完整的前端框架
              <em class="search-result-highlight">Vue</em>.js 全面介绍</a
            >
            <p class="abstract">
              ……摘要: 2016年最火的前端框架当属<em
                class="search-result-highlight"
                >Vue</em
              >.js了，很多使用过<em class="search-result-highlight">vue</em
              >的程序员这样评价它，“<em class="search-result-highlight">vue</em
              >.js兼具angular.js和react.js的优点，并剔除了它们的缺点”。授予了这么高的评价的……<em
                class="search-result-highlight"
                >vue</em
              >.js，也是开源世界华人的骄傲，因为它的作者是位中国人–尤雨溪（Evan
              You）。 <em class="search-result-highlight">Vue</em>.js
              是一个JavaScriptMVVM库，是一套构建用户界面的渐进式框架。它是以数据驱动和组件化的思想……构建的，采用自底向上增量开发的设计。相比于Angular.js，<em
                class="search-result-highlight"
                >Vue</em
              >.js提供了更加简洁、更易于理解的API，使得我们能够快速地上手并使用<em
                class="search-result-highlight"
                >Vue</em
              >.js；同时比起 React + Redux 相对复杂……
            </p>
            <app-card-message-tools></app-card-message-tools>
          </div>
        </li>
      </ul>
      <div>
        <app-paging></app-paging>
      </div>
    </div>
  </div>
</app-left-right-layout-follow>
