<div
  id="root"
  style="width: 100%;height: 100%;max-width: 100vw;max-height: 100vh"
>
  <div class="ant-row _25lUc">
    <div class="_2pnkW">
      <div class="_1T8aX"><i class="fa fa-trash fa-fw"></i>回收站(8)</div>
      <ul>
        <li class="fom-W" data-noteid="0">
          <a href="#/recycle/52559767"
            ><h5><i class="fa fa-file-text fa-fw"></i>无标题文章</h5>
            <span data-destroy-days-left="4" data-destroy-date="2019-11-02"
              >4天后清除</span
            ></a
          >
        </li>
        <li class="" data-noteid="1">
          <a href="#/recycle/53778584"
            ><h5>
              <i class="fa fa-file-text fa-fw"></i
              >ytttttt你明明了好么？，你你们现在应该是说，0看来今天有事情做的事情做的事啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
            </h5>
            <span data-destroy-days-left="58" data-destroy-date="2019-12-27"
              >58天后清除</span
            ></a
          >
        </li>
        <app-write-loading></app-write-loading>
      </ul>
    </div>
    <div class="_25mn_">
      <div class="QBGUR">
        <h3>无标题文章</h3>
        <a class="_1i-No" [routerLink]="['/write']">×</a>
      </div>
      <div class="_1V2C_">
        <div class="_17D1C"><span>简 书</span></div>
        <app-write-loading></app-write-loading>
      </div>
      <div class="_2X1Nj">
        <span class="_1XG6y _3Ib_G">恢复文章</span
        ><span class="_1XG6y _2_Gwf">彻底删除</span>
      </div>
    </div>
  </div>
</div>

<!-- <a
  nzType="primary"
  (click)="showModalMiddle()"
  class="js-report-button"
  data-reportable-id="15783563"
  data-reportable-type="user"
  >举报用户</a
>
<ng-template #modalTitle>
  <div class="modal-header">
    <h4 class="modal-title">举报用户</h4>
  </div>
</ng-template>
<nz-modal
  nzWrapClassName="vertical-center-modal"
  [(nzVisible)]="isVisibleMiddle"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()"
>
  <form>
    <input type="radio" name="report" value="ad" /><span>广告及垃圾信息</span>
    <input type="radio" name="report" value="plagiarism" /><span
      >抄袭或未授权转载</span
    >
    <input type="radio" name="report" value="other" /><span>其它</span>
    <textarea
      placeholder="写下举报的详情情况（选填）"
      class="form-control"
    ></textarea>
  </form>
  <div *nzModalFooter>
    <div class="action">
      <a class="button" (click)="handleCancel()">
        取消
      </a>
      <button
        class="btn btn-hollow"
        nz-button
        nzType="primary"
        (click)="handleOk()"
        [nzLoading]="isConfirmLoading"
      >
        提交
      </button>
    </div>
  </div>
</nz-modal> -->
