<div class="article-comment-textarea-inner">
  <textarea class="" placeholder="写下你的评论..."></textarea>
  <div>
    <div class="_3IXP9Q" style="display: flex;">
      <div class="SKZUyR">
        <app-card-article-emoji></app-card-article-emoji>
        <span>Ctrl + Enter 发表</span>
      </div>
      <div class="_3Tp4of">
        <button type="button" class="_1OyPqC _3Mi9q9 _1YbC5u" disabled="">
          <span>发布</span></button
        ><button type="button" class="_1OyPqC _2nzlC_">
          <span>取消</span>
        </button>
      </div>
    </div>
  </div>
</div>
