<app-header></app-header>
<app-left-right-layout>
  <div class="body-left-wrap">
    <div class="main-top">
      <a class="avatar" href="/u/4c2094ebb372">
        <img
          src="//upload.jianshu.io/users/upload_avatars/15783563/0463a5db-e1ea-4661-9f81-29c1b3d988b7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240"
          alt="240"
        />
      </a>
      <button class="off  user-follow-button">
        <i class="iconfont iconadd"></i><span>关注</span>
      </button>
      <a
        class="btn btn-hollow"
        href="/notifications#/chats/new?mail_to=15783563"
        >发简信</a
      >

      <div class="title">
        <a class="name" href="/u/4c2094ebb372">大头田</a>
        <i class="iconfont iconman"></i>
      </div>
      <div class="info">
        <ul>
          <li>
            <div class="meta-block">
              <a href="/users/4c2094ebb372/following">
                <p>2706</p>
                关注 <i class="iconfont iconleft"></i>
              </a>
            </div>
          </li>
          <li>
            <div class="meta-block">
              <a href="/users/4c2094ebb372/followers">
                <p>1943</p>
                粉丝 <i class="iconfont iconleft"></i>
              </a>
            </div>
          </li>
          <li>
            <div class="meta-block">
              <a href="/u/4c2094ebb372">
                <p>253</p>
                文章 <i class="iconfont iconleft"></i>
              </a>
            </div>
          </li>
          <li>
            <div class="meta-block">
              <p>438176</p>
              <div>字数</div>
            </div>
          </li>
          <li>
            <div class="meta-block">
              <p>31692</p>
              <div>收获喜欢</div>
            </div>
          </li>
          <li>
            <div class="meta-block">
              <p>41.2w</p>
              <div>总资产</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <app-tabs></app-tabs>
    <div class="list-container">
      <ul
        class="note-list"
        infinite-scroll-url="/u/4c2094ebb372?order_by=shared_at"
      >
        <li id="note-55231333" data-note-id="55231333" class="have-img">
          <a class="wrap-img" href="/p/512b7298f446" target="_blank">
            <img
              class="  img-blur-done"
              src="https://upload-images.jianshu.io/upload_images/2901910-578b596cd5bae92f?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240"
              alt="120"
            />
          </a>
          <div class="content ">
            <a class="title" target="_blank" href="/p/512b7298f446"
              >关注你的公众号之后，我天天和老公吵架</a
            >
            <p class="abstract">
              文｜七梦的悠闲时光（《星光简道》专题签约推荐作者）01
              最近公众号越来越多，关于女性权利意识的文章也大受追捧，类似《女孩子们要找一个把你的小事当...
            </p>
            <div class="meta">
              <span class="jsd-meta">
                <i class="iconfont icondiamond"></i> 51.9
              </span>
              <a target="_blank" href="/p/512b7298f446">
                <i class="iconfont iconread"></i> 4507
              </a>
              <a target="_blank" href="/p/512b7298f446#comments">
                <i class="iconfont iconliuyan"></i> 73
              </a>
              <span><i class="iconfont iconhome_ico_like-"></i> 49</span>
              <span><i class="iconfont iconmoney"></i> 107</span>
              <span class="time" data-shared-at="2019-10-22T16:45:02+08:00"
                >昨天 16:45</span
              >
            </div>
          </div>
        </li>

        <li>
          <div class="card2">
            <app-list-mini-author></app-list-mini-author>
            <p class="comment">
              好的故事文章都有很强的画面感
            </p>
            <blockquote>
              <a class="title" href="/p/7c7d200c9290"
                >好的故事文章都有很强的画面感</a
              >
              <p class="abstract">
                你写的文章并不怎么样，但是读别人的文章自己还是会有一些感触，特别是读一篇故事或者小说的时候，读一些写的好的作者的文章，就会发现在头脑当中可以想象出那种画面，而且画面感非常强。...
              </p>

              <div class="meta">
                <div class="origin-author">
                  <a href="/users/1af5c45d87ac">珩钥</a>
                </div>
                <a href="/p/7c7d200c9290">
                  <i class="iconfont iconread"></i> 286
                </a>
                <a href="/p/7c7d200c9290">
                  <i class="iconfont iconliuyan"></i> 24
                </a>
                <span><i class="iconfont iconhome_ico_like-"></i> 28</span>
                <span><i class="iconfont iconmoney"></i> 25</span>
              </div>
            </blockquote>
          </div>
        </li>

        <li>
          <div class="card3">
            <app-list-mini-author></app-list-mini-author>
            <app-card-focus-author></app-card-focus-author>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="body-right-wrap">
    <ul class="list user-dynamic">
      <li class="badge-icon">
        <a target="_blank" href="https://www.jianshu.com/p/3bc50b869c89">
          <img
            width="20"
            heigth="20"
            src="//upload.jianshu.io/user_badge/fa6457df-1747-43d8-92ad-be062a234306"
            alt="Fa6457df 1747 43d8 92ad be062a234306"
          />
          幸运四叶草
        </a>
      </li>
      <li class="badge-icon">
        <a target="_blank" href="https://www.jianshu.com/p/3bc50b869c89">
          <img
            width="20"
            heigth="20"
            src="//upload.jianshu.io/user_badge/5203a3bf-1c0f-41db-a6f0-31ddb4a929cb"
            alt="5203a3bf 1c0f 41db a6f0 31ddb4a929cb"
          />
          锦鲤
        </a>
      </li>
      <li class="badge-icon">
        <a
          target="_blank"
          href="https://www.jianshu.com/mobile/campaign/day_by_day/join"
        >
          <img
            width="20"
            heigth="20"
            src="//upload.jianshu.io/user_badge/b67c298d-f020-4f89-aac6-0710bc0709ec"
            alt="B67c298d f020 4f89 aac6 0710bc0709ec"
          />
          日更达人
        </a>
      </li>
      <li class="badge-icon">
        <a target="_blank" href="/mobile/club">
          <img
            width="20"
            heigth="20"
            src="//upload.jianshu.io/user_badge/f61ba9db-af37-417c-889a-2bfa1536b728"
            alt="F61ba9db af37 417c 889a 2bfa1536b728"
          />
          简书白金会员
        </a>
      </li>
    </ul>

    <div class="title">个人介绍</div>
    <div class="description">
      <div class="js-intro">
        民主建国会会员，慈善协会会员，县政协委员，爱好文学。长期提供收贝，售贝服务，有需求的简友私信我。
      </div>
    </div>

    <ul class="list user-focus">
      <li>
        <a href="/users/4c2094ebb372/subscriptions">
          <i class="iconfont iconIconCollectiono"></i>
          <span>他关注的专题/文集/连载</span>
        </a>
      </li>
      <li>
        <a href="/users/4c2094ebb372/liked_notes">
          <i class="iconfont iconico-"></i> <span>他喜欢的文章</span>
        </a>
      </li>
    </ul>

    <!-- 专题和文集 -->
    <div class="user-project">
      <div class="management">
        <div class="title">
          他管理的专题
        </div>
        <ul class="list">
          <li>
            <a href="/c/c12c4b476f1c" target="_blank" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/1826633/%E9%AB%98%E5%B1%B1%E6%B5%81%E6%B0%B4.png?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
            /></a>
            <a href="/c/c12c4b476f1c" target="_blank" class="name">高山流水</a>
          </li>
          <li>
            <a href="/c/d65948ae01b3" target="_blank" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/1824313/%E7%A4%BE%E7%BE%A4%E6%88%90%E5%91%98.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
            /></a>
            <a href="/c/d65948ae01b3" target="_blank" class="name"
              >推文上热门（收评赏1）</a
            >
          </li>
          <li>
            <a href="/c/3d294d9af6cc" target="_blank" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/1823327/%E7%A4%BE%E7%BE%A4%E6%88%90%E5%91%98.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
            /></a>
            <a href="/c/3d294d9af6cc" target="_blank" class="name"
              >推文上热门（收评赏2）</a
            >
          </li>
          <li>
            <a href="/c/9bf02417da09" target="_blank" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/1820319/crop1569155317995.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
            /></a>
            <a href="/c/9bf02417da09" target="_blank" class="name"
              >天天向上💪💪💪勇攀高峰✊✊✊</a
            >
          </li>
          <li>
            <a href="/c/d6782bc7b91e" target="_blank" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/1813765/crop1566406726735.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
            /></a>
            <a href="/c/d6782bc7b91e" target="_blank" class="name">解锁时光</a>
          </li>
          <li>
            <a href="/c/ebbca62d4636" target="_blank" class="avatar-collection"
              ><img
                src="//upload.jianshu.io/collections/images/1783304/crop1560084599539.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
            /></a>
            <a href="/c/ebbca62d4636" target="_blank" class="name">随笔散文</a>
          </li>
          <li></li>
        </ul>
      </div>
      <div class="notebook">
        <div class="title">
          他的文集
        </div>
        <ul class="list">
          <li>
            <a href="/nb/33105840" target="_blank"
              ><i class="iconfont iconnotebook"></i
            ></a>
            <a href="/nb/33105840" target="_blank" class="name">
              日记本
            </a>
          </li>
          <li></li>
        </ul>
      </div>
    </div>

    <div class="user-action">
      <a
        class="js-block-button"
        data-user-id="15783563"
        href="javascript:void(null);"
        >加入黑名单</a
      >
      ·
      <a
        class="js-report-button"
        data-reportable-id="15783563"
        data-reportable-type="user"
        >举报用户</a
      >
    </div>

    <div class="notice">
      <p class="title">专题公告</p>
      <div class="description js-description">
        <p>
          收集Vue文章，资料，和社区问题。社区问题会整理最佳回答和笔者的一些见解。
          <br />欢迎投稿。
        </p>
        <p>qq群：240319632</p>
      </div>
    </div>

    <div class="share">
      <span>分享到</span>
      <a class="option" href=""
        ><i class="iconfont ic-share-weibo iconsina"></i
      ></a>
      <a class="option" data-action="weixin-share"
        ><i class="iconfont ic-share-wechat iconweixin"></i
      ></a>
      <a class="option" href="javascript:void(0);" data-original-title=""
        ><i class="iconfont ic-share-more iconqita"></i
      ></a>
    </div>

    <div class="about-people">
      <div class="admin">
        <p class="title">管理员</p>
        <ul class="list collection-editor">
          <li>
            <a href="/u/tonyRL" target="_blank" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/19531/12732af4c614?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
            /></a>
            <a href="/u/tonyRL" target="_blank" class="name">水墨寒</a>
            <span class="tag">创建者</span>
          </li>
          <li></li>
        </ul>
      </div>

      <div class="focus">
        <div class="title">关注的人(8611)</div>
        <ul class="list collection-follower">
          <li>
            <a href="/u/bb631b89c3b3" target="_blank" class="avatar"
              ><img
                src="//cdn2.jianshu.io/assets/default_avatar/9-cceda3cf5072bcdd77e8ca4f21c40998.jpg"
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                data-original-title="17667535377 · 39分钟前 关注"
            /></a>
          </li>
          <li>
            <a href="/u/c95aff573c9a" target="_blank" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/6854300/49663fa2-8788-48c9-b377-8ea7d6aa4d18?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32/format/webp"
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                data-original-title="DDDahai · 1小时前 关注"
            /></a>
          </li>
          <li>
            <a href="/u/c4e395bdf4ee" target="_blank" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/6017005/d283c095-2f89-443a-8fe0-b53a4236ab5d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32/format/webp"
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                data-original-title="一点都不帅气哟 · 3小时前 关注"
            /></a>
          </li>
          <li>
            <a href="/u/99f95119ada0" target="_blank" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/19895814/432fbb44-001f-48ef-a8ad-fced7803fea8?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32/format/webp"
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                data-original-title="六羽_4452 · 7小时前 关注"
            /></a>
          </li>
          <li>
            <a href="/u/2b17702f5a00" target="_blank" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/19832194/95f91bbe-7c62-406c-ad97-eef1b353551e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32/format/webp"
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                data-original-title="梦想成为技术大牛 · 10.20 16:01 关注"
            /></a>
          </li>
          <li>
            <a href="/u/1b189ba519e4" target="_blank" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/19889469/c1becdbe-46c9-4e41-bfb1-00aec436f4b4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32/format/webp"
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                data-original-title="AoumiRamune · 昨天 19:37 关注"
            /></a>
          </li>
          <li>
            <a href="/u/fcd0474397c6" target="_blank" class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/2659810/6a21530f7934?imageMogr2/auto-orient/strip|imageView2/1/w/32/h/32/format/webp"
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                data-original-title="凉梅汁 · 昨天 09:02 关注"
            /></a>
          </li>
          <li>
            <a href="/u/645df034bac6" target="_blank" class="avatar"
              ><img
                src="//cdn2.jianshu.io/assets/default_avatar/11-4d7c6ca89f439111aff57b23be1c73ba.jpg"
                data-toggle="tooltip"
                data-placement="bottom"
                title=""
                data-original-title="啊伟away · 前天 21:53 关注"
            /></a>
          </li>
          <a class="function-btn"
            ><i class="iconfont ic-others iconqita"></i
          ></a>
        </ul>
      </div>
    </div>
  </div>
</app-left-right-layout>
