<div
  id="root"
  style="width: 100%;height: 100%;max-width: 100vw;max-height: 100vh"
>
  <div class="ant-row _10ibe">
    <div class="SJkAD">
      <div class="_24LeD">
        <div class="_3WaPV" (click)="isShowScreen()">
          <i class="fa fa-clock-o"></i> 共2条历史版本<span class="_35zzW"
            >筛选<i class="fa fa-angle-double-down"></i
          ></span>
        </div>
        <div class="_3ciQq" [ngClass]="{ _1pDW4: showScreen }">
          <label class="checkbox"
            ><input
              type="checkbox"
              data-note-log-type="1"
              value="on"
            />自动保存</label
          ><label class="checkbox"
            ><input
              type="checkbox"
              data-note-log-type="2"
              value="on"
            />公开发表文章</label
          ><label class="checkbox"
            ><input
              type="checkbox"
              data-note-log-type="3"
              value="on"
            />发布更新</label
          ><label class="checkbox"
            ><input
              type="checkbox"
              data-note-log-type="4"
              value="on"
            />版本恢复</label
          ><label class="checkbox"
            ><input type="checkbox" value="on" />简书网站</label
          ><label class="checkbox"
            ><input type="checkbox" value="on" />简书 iPhone App</label
          ><label class="checkbox"
            ><input type="checkbox" value="on" />简书 Android App</label
          ><label class="checkbox"
            ><input type="checkbox" value="on" />简书 iPhone App 黑夜版</label
          >
        </div>
      </div>
      <ul class="_334h2">
        <li class="" (mouseover)="over($event)" (mouseleave)="leave($event)">
          <a
            href="javascript:;"
            ><span
              data-title="2019-10-30 16:14"
              data-formatted-created-at="1572423243"
              data-timeago="56分钟以前"
              >56分钟以前</span
            >版本恢复</a
          >
        </li>
        <li class="" (mouseover)="over($event)" (mouseleave)="leave($event)">
          <a
            href="javascript:;"
            ><span
              data-title="2019-09-10 10:48"
              data-formatted-created-at="1568083717"
              data-timeago="1月以前"
              >1月以前</span
            >自动保存</a
          >
        </li>
        <app-write-loading></app-write-loading>
      </ul>
    </div>
    <div class="_3Kp23">
      <div class="_3vp73">
        <h3>😆</h3>
        <span class="_1Zkg0">2019-10-30 16:14</span
        ><a class="_2TjmB" [routerLink]="['/write']">×</a
        ><span class="wuk6K"
          >恢复到这个版本<i class="fa fa-spinner fa-spin"></i
        ></span>
      </div>
      <div class="_33LvZ">
        <div class="note-view _1mtk4"><p>tyttttt</p></div>
        <app-write-loading></app-write-loading>
      </div>
    </div>
  </div>
</div>
