<app-login-wrap>
  <div class="login-main-wrap">
    <app-login-title></app-login-title>
    <div class="js-sign-in-container">
      <form
        id="new_session"
        action="/sessions"
        accept-charset="UTF-8"
        method="post"
      >
        <input name="utf8" type="hidden" value="✓" /><input
          type="hidden"
          name="authenticity_token"
          value="NtFmDXr4IxLzk/kF7Rq0tmEWKii5uHXH6w1mB9GkhhPt0ysbyP64Kp8W9qYd8Y7muRkVePPoocLxQWTQZmQGBw=="
        />

        <!-- 正常登录登录名输入框 -->
        <div class="input-prepend restyle js-normal">
          <input
            placeholder="手机号或邮箱"
            type="text"
            name="session[email_or_mobile_number]"
            id="session_email_or_mobile_number"
          />
          <i class="iconfont ic-user iconicon"></i>
        </div>

        <!-- 海外登录登录名输入框 -->

        <div class="input-prepend">
          <input
            placeholder="密码"
            type="password"
            name="session[password]"
            id="session_password"
          />
          <i class="iconfont ic-password iconmima1"></i>
        </div>
        <input
          value="false"
          type="hidden"
          name="session[oversea]"
          id="session_oversea"
        />
        <div>
          <input
            id="sign-in-form-captcha-challenge"
            name="captcha[validation][challenge]"
            autocomplete="off"
            type="hidden"
          />
          <input
            id="sign-in-form-captcha-gt"
            name="captcha[validation][gt]"
            autocomplete="off"
            type="hidden"
          />
          <input
            id="sign-in-form-captcha-validate"
            name="captcha[validation][validate]"
            autocomplete="off"
            type="hidden"
          />
          <input
            id="sign-in-form-captcha-seccode"
            name="captcha[validation][seccode]"
            autocomplete="off"
            type="hidden"
          />
        </div>
        <div class="remember-btn">
          <input
            type="checkbox"
            value="true"
            checked="checked"
            name="session[remember_me]"
            id="session_remember_me"
          /><span>记住我</span>
        </div>
        <div class="forget-btn">
          <!-- <a class="" data-toggle="dropdown" href="javascript:;">登录遇到问题?</a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;">用手机号重置密码</a></li>
                    <li><a href="javascript:;">用邮箱重置密码</a></li>
                    <li>
                      <a href="javascript:;">无法用海外手机号登录</a>
                    </li>
                    <li>
                      <a href="javascript:;"
                        >无法用 Google 帐号登录</a
                      >
                    </li>
                  </ul> -->
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class=""
            >登录遇到问题?</a
          >
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <a [routerLink]="['/reset-mobile']">用手机号重置密码</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="['/reset-email']">用邮箱重置密码</a>
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-item nzDisabled>
                <a href="javascript:;">无法用海外手机号登录</a>
              </li>
              <li nz-menu-item nzDisabled>
                <a href="javascript:;">无法用 Google 帐号登录</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <app-sign-btn></app-sign-btn>
      </form>
      <!-- 更多登录方式 -->
      <app-login-social></app-login-social>
    </div>
  </div>
</app-login-wrap>
