.sign {
  height: 100%;
  min-height: 750px;
  text-align: center;
  font-size: 14px;
  background-color: #f1f1f1;
  color: #333;
  .logo {
    position: absolute;
    top: 56px;
    margin-left: 50px;
    a {
      img {
        width: 100px;
        vertical-align: middle;
        border: 0;
      }
    }
  }
  .main {
    width: 400px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    display: inline-block;
    h4 {
      font-size: 18px;
      line-height: 1.1;
    }
    .title {
      margin: 0 auto 50px;
      padding: 10px;
      font-weight: 400;
      color: #969696;
      .normal-title {
        a {
          padding: 10px;
          color: #969696;
        }
        .active {
          font-weight: 700;
          color: #ea6f5a;
          border-bottom: 2px solid #ea6f5a;
        }
        b {
          padding: 10px;
        }
      }
    }
    .js-sign-in-container {
      form {
        margin-bottom: 30px;
        margin: 0 0 20px;
        input {
          color: inherit;
          font: inherit;
          margin: 0;
        }
        .restyle {
          margin-bottom: 0;
          input {
            border-bottom: none !important;
          }
        }
        .input-prepend {
          position: relative;
          width: 100%;
          input {
            width: 100%;
            height: 50px;
            margin-bottom: 0;
            padding: 4px 12px 4px 35px;
            border: 1px solid #c8c8c8;
            vertical-align: middle;
            border-radius: 4px 4px 0 0;
            background-color: rgb(232, 240, 254);
          }
          i {
            position: absolute;
            top: 14px;
            left: 10px;
            font-size: 18px;
            color: #969696;
          }
        }
        .remember-btn {
          float: left;
          margin: 15px 0;
          input[type='checkbox'] {
            margin: 4px 0 0;
            line-height: normal;
            box-sizing: border-box;
            padding: 0;
          }
          span {
            margin-left: 5px;
            font-size: 15px;
            color: #969696;
            vertical-align: middle;
          }
        }
        .forget-btn {
          float: right;
          position: relative;
          margin: 15px 0;
          font-size: 14px;
          a {
            color: #999;
          }
          .dropdown-menu {
            // some styles
          }
        }
        .sign-in-button {
          background: #3194d0;
          margin-top: 20px;
          width: 100%;
          padding: 9px 18px;
          font-size: 18px;
          border: none;
          border-radius: 25px;
          color: #fff;

          cursor: pointer;
          outline: none;
          display: block;
          clear: both;
          overflow: visible;
          text-transform: none;
          -webkit-appearance: button;
          margin: 0;
          #sign-in-loading {
            position: relative;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-top: -4px;
            margin-right: 2px;
            display: none;
          }
        }
      }
      .more-sign {
        margin-top: 50px;
        h6 {
          position: relative;
          margin: 0 0 10px;
          font-size: 12px;
          color: #b5b5b5;
          font-family: inherit;
          font-weight: 500;
          line-height: 1.1;
          &:before {
            content: '';
            border-top: 1px solid #b5b5b5;
            display: block;
            position: absolute;
            width: 60px;
            top: 5px;
            left: 30px;
          }
          &:after {
            right: 30px;
            content: '';
            border-top: 1px solid #b5b5b5;
            display: block;
            position: absolute;
            width: 60px;
            top: 5px;
          }
        }
        ul {
          margin-bottom: 10px;
          list-style: none;
          padding-left: 0;
          margin-top: 0;
          li {
            margin: 0 5px;
            display: inline-block;
            line-height: 20px;
            a {
              width: 50px;
              height: 50px;
              line-height: 50px;
              display: block;
              i {
                font-size: 28px;
              }
              .ic-weibo {
                color: #e05244;
              }
              .ic-wechat {
                color: #00bb29;
              }
              .ic-qq_connect {
                color: #498ad5;
              }
              .ic-more {
                color: #999;
              }
              .ic-douban {
                color: #00820f;
              }
            }
            .hide {
              display: none !important;
            }
          }
        }
      }
    }
  }
}
