.container-fluid {
  .row {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    .container {
    }
    .top-part {
      position: relative;
      margin-top: 50px;
      text-align: center;
      .top-logo {
        margin-bottom: 40px;
        img {
          vertical-align: middle;
          border: 0;
        }
        .background-img {
          margin-top: -100px;
          width: 765px;
          height: 172px;
          position: absolute;
          left: 50%;
          margin-left: -380px;
          z-index: -1;
        }
        .phone-img {
          width: 410px;
          height: 314px;
        }
        .top-qrcode {
          display: inline-block;
          margin: 0 0 40px 40px;
          vertical-align: bottom;
          text-align: left;
          img {
            margin-left: -2px;
            width: 140px;
            height: 140px;
          }
          .title {
            margin-top: 4px;
            font-size: 24px;
          }
          .description {
            margin-top: 4px;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }
    .middle-part {
      padding: 30px 0;
      .text-block {
        margin-top: 8%;
        h3 {
          margin-bottom: 20px;
          font-size: 28px;
          font-weight: 400;
          margin-top: 20px;
        }
        h6 {
          font-size: 18px;
          font-weight: 300;
          line-height: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .col-xs-24 {
          width: 100%;
          margin-top: -130px;
        }
        img {
          width: 100%;
          vertical-align: middle;
          border: 0;
        }
      }
    }
    .bottom-part {
      margin: 50px 0 80px;
      text-align: center;
      font-size: 24px;
      .bottom-qrcode {
        margin-bottom: 10px;
        width: 140px;
      }
      img {
        vertical-align: middle;
        border: 0;
      }
      .bottom-logo {
        margin-top: 30px;
        img {
          width: 56px;
          height: 56px;
        }
        .info {
          display: inline-block;
          margin-left: 8px;
          text-align: left;
          vertical-align: middle;
          .title {
            font-size: 17px;
          }
          .slogan {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.misc {
  position: relative;
}

@media (max-width: 1080px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
