.helper {
  padding-top: 56px !important;
  .feedback-page-logo {
    position: absolute;
    left: 20px;
    top: 14px;
    width: 55px;
    vertical-align: middle;
  }
  .header-sample-wrap {
  }
}
