<app-header></app-header>
<app-left-right-layout>
  <div class="body-left-wrap">
    <!-- 轮播图 -->
    <div id="indexCarousel" class="carousel slide">
      <div class="carousel-inner">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content *ngFor="let index of array">
            <h3>{{ index }}</h3>
          </div>
        </nz-carousel>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#indexCarousel" data-slide-to="1" class=""></li>
      </ol>
      <a
        class="left carousel-control"
        href="#indexCarousel"
        role="button"
        data-slide="prev"
        ><i class="iconfont iconleft4"></i
      ></a>
      <a
        class="right carousel-control"
        href="#indexCarousel"
        role="button"
        data-slide="next"
        ><i class="iconfont iconleft"></i
      ></a>

      <a
        class="left2 carousel-control"
        href="#indexCarousel"
        role="button"
        data-slide="prev"
        ><i class="iconfont iconleft"></i
      ></a>
      <a
        class="right2 carousel-control"
        href="#indexCarousel"
        role="button"
        data-slide="next"
        ><i class="iconfont iconleft4"></i
      ></a>
    </div>

    <!-- 文章列表 -->
    <div class="list-container">
      <ul class="note-list">
        <li id="note-52453323" data-note-id="52453323" class="have-img">
          <a class="wrap-img" href="/p/fccb48b27216" target="_blank">
            <img
              class="img-blur-done"
              src="http://upload-images.jianshu.io/upload_images/5699950-b663fb34669e4ffc.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
              alt="120"
            />
          </a>
          <div class="content">
            <a class="title" target="_blank" href="/p/fccb48b27216"
              >几个超级有用的网络测试诊断命令</a
            >
            <p class="abstract">
              首先告诉你一简单又装逼的命令，请看下图
              接下来这几个也是比较常用的命令哦 ping 命令
              它是用来检查网络是否通畅或者网络连接速度的命令。它所利...
            </p>
            <app-card-message-tools></app-card-message-tools>
          </div>
        </li>

        <li id="note-53725156" data-note-id="53725156" class="">
          <div class="content">
            <a class="title" target="_blank" href="/p/ab5d26f42134"
              >一款具有插入缺失精准比对的DNA甲基化数据分析流程软件-BatMeth2</a
            >
            <p class="abstract">
              Batmeth2是一款操作简便的亚硫酸氢盐测序（BS-Seq）分析流程工具包，它可以在允许不同长度插入缺失（Indel）情况下准确地完成亚硫酸测...
            </p>
            <app-card-message-tools></app-card-message-tools>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="body-right-wrap">
    <div class="board">
      <a target="_blank" href="/mobile/club"
        ><img
          src="//cdn2.jianshu.io/assets/web/banner-s-club-aa8bdf19f8cf729a759da42e4a96f366.png"
          alt="Banner s club"
      /></a>
      <a
        utm_medium="index-banner-s"
        target="_blank"
        href="/mobile/books?category_id=284"
        ><img
          src="//cdn2.jianshu.io/assets/web/banner-s-7-1a0222c91694a1f38e610be4bf9669be.png"
          alt="Banner s 7"
      /></a>
      <a utm_medium="index-banner-s" target="_blank" href="/publications"
        ><img
          src="//cdn2.jianshu.io/assets/web/banner-s-5-4ba25cf5041931a0ed2062828b4064cb.png"
          alt="Banner s 5"
      /></a>
      <a
        target="_blank"
        href="/c/e048f1a72e3d?utm_medium=index-banner-s&amp;utm_source=desktop"
        ><img
          src="//cdn2.jianshu.io/assets/web/banner-s-6-c4d6335bfd688f2ca1115b42b04c28a7.png"
          alt="Banner s 6"
      /></a>
    </div>

    <!-- APP下载提示 -->
    <a
      nzXs="8"
      id="index-aside-download-qrbox"
      class="col-xs-8 download"
      data-toggle="popover"
      data-placement="top"
      data-html="true"
      data-trigger="hover"
      href="/apps?utm_medium=desktop&amp;utm_source=index-aside-click"
      data-original-title=""
      title=""
    >
      <img
        class="qrcode"
        src="//cdn2.jianshu.io/assets/web/download-index-side-qrcode-cb13fc9106a478795f8d10f9f632fccf.png"
        alt="Download index side qrcode"
      />
      <div class="info">
        <div class="title">下载简书手机App<i class="iconfont ic-link"></i></div>
        <div class="description">随时随地发现和创作内容</div>
      </div>
    </a>

    <!-- 推荐作者 -->
    <div class="recommended-author-wrap">
      <div class="recommended-authors">
        <div class="title">
          <span>推荐作者</span>
          <a class="page-change"
            ><i
              class="iconfont iconshuaxin"
              style="transform: rotate(0deg);"
            ></i>
            换一批
          </a>
        </div>
        <ul class="list">
          <li>
            <a
              href="/u/51b4ef597b53?utm_source=desktop&amp;utm_medium=index-users"
              target="_blank"
              class="avatar"
              ><img
                src="//upload.jianshu.io/users/upload_avatars/9988193/fc26c109-1ae6-4327-a298-2def343e9cd8.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
            /></a>
            <a class="follow" state="0"
              ><i class="iconfont iconadd"></i>关注
            </a>
            <a
              href="/u/51b4ef597b53?utm_source=desktop&amp;utm_medium=index-users"
              target="_blank"
              class="name"
            >
              董克平日记
            </a>
            <p>
              写了732k字 · 2.1k喜欢
            </p>
          </li>
        </ul>
        <a
          href="/recommendations/users?utm_source=desktop&amp;utm_medium=index-users"
          target="_blank"
          class="find-more"
        >
          查看全部<i class="iconfont iconleft"></i
        ></a>
      </div>
    </div>
  </div>
</app-left-right-layout>
