[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}
.body-left-wrap {
  .slide {
    margin-bottom: 35px;
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
  }
  .carousel {
    position: relative;
    .carousel-inner {
      overflow: hidden;
      width: 100%;
      position: relative;
    }
    .carousel-indicators {
      margin-bottom: 8px;
      width: 80%;
      left: 40%;
      bottom: 0;
      position: absolute;
      z-index: 15;
      margin-left: -30%;
      padding-left: 0;
      list-style: none;
      text-align: center;
      margin-top: 0;
      li {
        display: inline-block;
        margin: 3px;
        border-radius: 2px;
        width: 25px;
        height: 3px;
        background-color: hsla(0, 0%, 47%, 0.4);
        transition: 0.3s ease-in;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        -ms-transition: 0.3s ease-in;
        &.active {
          width: 25px;
          height: 3px;
          background-color: #fff;
        }
      }
    }
    @media screen and (min-width: 768px) {
      .carousel-indicators {
        bottom: 20px;
      }
    }
    .carousel-control {
      opacity: 0;
      transition: 0.1s ease-in;
      -webkit-transition: 0.1s ease-in;
      background-repeat: repeat-x;
      // left: 0;
      // bottom: 0;
      font-size: 20px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      cursor: pointer;
      z-index: 10;
      position: absolute;
      i {
        position: absolute;
        top: 50%;
        margin-top: -14px;
      }
    }
    .carousel-control.left,
    .carousel-control.left2,
    .carousel-control.right,
    .carousel-control.right2 {
      background-image: none;
      background-color: rgba(0, 0, 0, 0.4);
      height: 50px;
      width: 40px;
      top: 40%;
      // opacity: 0.9;
      //filter: alpha(opacity=90);
    }
    .carousel-control.left,
    .carousel-control.right2 {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;

      background-repeat: repeat-x;
      i {
        left: 10px;
      }
    }
    .carousel-control.right,
    .carousel-control.left2 {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      left: auto;
      right: 0;
      background-repeat: repeat-x;
      i {
        right: 10px;
      }
    }
    .left,
    .left2 {
      z-index: 10;
    }
    .right,
    .right2 {
      z-index: 1;
    }
    .left:hover + .right,
    .left:hover,
    .left2:hover + .right2,
    .left2:hover {
      outline: 0;
      color: #fff;
      text-decoration: none;
      opacity: 0.9;
      filter: alpha(opacity=90);
      display: block;
    }
  }
  .list-container {
    .note-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        width: 100%;
        margin: 0 0 15px;
        padding: 15px 2px 20px 0;
        border-bottom: 1px solid #f0f0f0;
        word-wrap: break-word;
        line-height: 20px;
      }
    }
  }
}

.body-right-wrap {
  .board {
    margin-top: -4px;
    padding-bottom: 4px;
    min-height: 228px;
    a {
      cursor: pointer;
      color: #333;
      text-decoration: none;
      background-color: transparent;
      img {
        width: 100%;
        min-height: 50px;
        margin-bottom: 6px;
        border-radius: 4px;
        vertical-align: middle;
        border: 0;
      }
    }
  }

  .download {
    display: block;
    margin-bottom: 30px;
    padding: 10px 22px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #fff;
    :hover {
    }
    .qrcode {
      width: 60px;
      height: 60px;
      opacity: 0.85;
      vertical-align: middle;
      border: 0;
    }
    .info {
      display: inline-block;
      vertical-align: middle;
      margin-left: 7px;
      .title {
        font-size: 15px;
        color: #333;
      }
      .description {
        margin-top: 4px;
        font-size: 13px;
        color: #999;
      }
    }
  }

  .recommended-authors {
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 13px;
    text-align: center;
    .title {
      text-align: left;
      span {
        font-size: 14px;
        color: #969696;
      }
      .page-change {
        float: right;
        display: inline-block;
        font-size: 14px;
        color: #969696;
        cursor: pointer;
        text-decoration: none;
        background-color: transparent;
        i {
          transform: rotate(0deg);
          display: inline-block;
          line-height: 1;
          transition: 0.5s ease;
        }
      }
    }
    .list {
      margin: 0 0 20px;
      text-align: left;
      list-style: none;
      padding-left: 0;
      li {
        margin-top: 15px;
        line-height: 20px;
        .avatar {
          float: left;
          width: 48px;
          height: 48px;
          margin-right: 10px;
          display: block;
          cursor: pointer;
          color: #333;
          text-decoration: none;
          background-color: transparent;
          img {
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
        .follow {
          float: right;
          margin-top: 5px;
          padding: 0;
          font-size: 13px;
          color: #42c02e;
          border-color: #42c02e;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
          text-decoration: none;
          background-color: transparent;
          i {
            position: inherit;
            width: inherit;
            height: inherit;
            font-size: 13px;
          }
        }
        .name {
          padding-top: 5px;
          margin-right: 60px;
          font-size: 14px;
          display: block;
          cursor: pointer;
          color: #333;
          text-decoration: none;
          background-color: transparent;
        }
        p {
          margin-top: 2px;
          font-size: 12px;
          color: #969696;
          margin: 0 0 10px;
        }
      }
    }
    .find-more {
      position: absolute;
      padding: 7px 7px 7px 12px;
      left: 0;
      width: 100%;
      font-size: 13px;
      color: #787878;
      background-color: #f7f7f7;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
@media (max-width: 1080px) {
  .board {
    a {
      img {
        min-height: 39px !important;
      }
    }
  }
  .download {
    padding: 7px 10px !important;
    .qrcode {
      width: 50px !important;
      height: 50px !important;
    }
    .info {
      .title {
        font-size: 14px !important;
      }
      .description {
        font-size: 12px !important;
      }
    }
  }
}
