<app-header></app-header>
<app-layout-one-column>
  <div class="body-one-wrap">
    <img
      class="tag-banner"
      src="//cdn2.jianshu.io/assets/web/collect-note-955d8c71641a360924390da9da4b0151.png"
      alt="Collect note"
    />
    <ul class="note-list">
      <li id="note-53278090" data-note-id="53278090" class="have-img">
        <app-card-article [isHaveImg]="true"></app-card-article>
        <!-- <a class="wrap-img" href="/p/d46a16c0a7b9">
          <img
            class="  img-blur-done"
            src="https://upload-images.jianshu.io/upload_images/12191170-5974581c0d43e516.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240"
            alt="120"
          />
        </a>
        <div class="content">
          <a class="title" href="/p/d46a16c0a7b9"
            >【谈写作】境界已成自有高格</a
          >
          <p class="abstract">
            文｜红极（《星光简道》专题签约推荐作者）
            我坚持写作已经有十来年了，没有老师教，更没有人指点，靠自己摸索可谓艰辛，但是一路走来，许多关于写作的方...
          </p>
          <div class="meta">
            <span class="jsd-meta">
              <i class="iconfont ic-paid1"></i> 2202.5
            </span>
            <a class="nickname" href="/u/4c2094ebb372"
              >大头田</a
            >
            <a href="/p/d46a16c0a7b9#comments">
              <i class="iconfont ic-list-comments"></i> 69
            </a>
            <span><i class="iconfont ic-list-like"></i> 439</span>
            <span><i class="iconfont ic-list-money"></i> 19</span>
            <a class="cancel">取消收藏</a>
          </div>
        </div> -->
      </li>
    </ul>
  </div>
</app-layout-one-column>
