<app-header></app-header>
<app-left-right-layout>
  <div class="body-left-wrap">
    <!-- 轮播图 -->
    <div id="indexCarousel" class="carousel slide">
      <div class="carousel-inner">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content *ngFor="let index of array">
            <h3>{{ index }}</h3>
          </div>
        </nz-carousel>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#indexCarousel" data-slide-to="1" class=""></li>
      </ol>
      <a
        class="left carousel-control"
        href="#indexCarousel"
        role="button"
        data-slide="prev"
        ><i class="iconfont iconleft4"></i
      ></a>
      <a
        class="right carousel-control"
        href="#indexCarousel"
        role="button"
        data-slide="next"
        ><i class="iconfont iconleft"></i
      ></a>

      <a
        class="left2 carousel-control"
        href="#indexCarousel"
        role="button"
        data-slide="prev"
        ><i class="iconfont iconleft"></i
      ></a>
      <a
        class="right2 carousel-control"
        href="#indexCarousel"
        role="button"
        data-slide="next"
        ><i class="iconfont iconleft4"></i
      ></a>
    </div>

    <!-- 文章列表 -->
    <div class="list-container">
      <ul class="note-list">
        <li id="note-52453323" data-note-id="52453323" class="have-img">
          <a class="wrap-img" href="/p/fccb48b27216" target="_blank">
            <img
              class="img-blur-done"
              src="http://upload-images.jianshu.io/upload_images/5699950-b663fb34669e4ffc.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
              alt="120"
            />
          </a>
          <div class="content">
            <a class="title" target="_blank" href="/p/fccb48b27216"
              >几个超级有用的网络测试诊断命令</a
            >
            <p class="abstract">
              首先告诉你一简单又装逼的命令，请看下图
              接下来这几个也是比较常用的命令哦 ping 命令
              它是用来检查网络是否通畅或者网络连接速度的命令。它所利...
            </p>
            <div class="meta">
              <span class="jsd-meta">
                <i class="iconfont icondiamond"></i> 11.4
              </span>
              <a class="nickname" target="_blank" href="/u/e245a9231f4a"
                >暗影玄极</a
              >
              <a target="_blank" href="/p/fccb48b27216#comments">
                <i class="iconfont iconliuyan"></i> 7
              </a>
              <span><i class="iconfont iconhome_ico_like-"></i> 53</span>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="body-right-wrap">我是右侧内容</div>
</app-left-right-layout>
