/* You can add global styles to this file, and also import other style files */
@import"https://at.alicdn.com/t/font_1357342_8ae1ad0fqrw.css";

$global_color: #ec7259;
:root {
  --themeMain: #ec7259; // or any global you wish to share with components
}
a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  background-color: transparent;
}
