.modal-title {
  display: block;
  .-K8Re {
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #4d4d4d;
    ._3O4M2 {
      font-size: 13px;
      padding-left: 10px;
      color: #999;
      a {
        color: #3294d0;
      }
    }
  }
}

._1Ksj7 {
  font-size: 14px;
  ._3slx8 {
    color: #969696;
  }
  p {
    margin-top: 0;
    margin-bottom: 1em;
    span {
      font-size: 24px;
      margin: 0 5px;
    }
  }
  .DsKt7 {
    margin: 20px 0 25px;
    text-align: center;
  }
  ._267rA {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0, 0%, 97%, 0.1);
    padding: 5px;
    i {
      font-size: 18px;
      display: inline-block;
      padding: 5px;
      vertical-align: middle;
    }
    input {
      display: inline-block;
      line-height: 36px;
      height: 36px;
      width: 228px;
      background-color: transparent;
      touch-action: manipulation;
      border: 0;
      outline: 0;
      overflow: visible;
      margin: 0;
      font-size: inherit;
      color: inherit;
    }
    ._3Hq0E {
      width: 100px;
      font-size: 13px;
      text-align: center;
      color: #fff;
      background-color: #3194d0;
      border-radius: 20px;
      display: inline-block;
      line-height: 36px;
      height: 36px;
      touch-action: manipulation;
      float: right;
    }
  }
}

._3vO5f {
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 9px 18px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  color: #fff;
  background-color: #3194d0;
  outline: none;
  display: block;
  height: auto;
}
