<div class="follow-detail">
  <div class="info">
    <a class="avatar" href="javascript:;">
      <img
        src="//upload.jianshu.io/users/upload_avatars/14200264/876eacb8-dfbb-46fe-b072-a9ae033f1635.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180"
        alt="180"
      />
    </a>
    <a class="btn btn-success follow"
      ><i class="iconfont iconadd"></i><span>关注</span></a
    >
    <a class="title" href="javascript:;">百薇Baiwei</a>
    <p>写了 1489 字，被 1 人关注，获得了 1 个喜欢</p>
  </div>
  <div class="signature">总之岁月漫长，然而，值得等待</div>
</div>
